﻿@model Zemedya.Model.DTO.AyarlarDTOs.AyarlarDTO
@{
    ViewData["Title"] = "Ayarlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">
                Ayarlar
            </h3>
            <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                <li class="nav-item ">
                    <a class="nav-link active float-right" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">E-Posta Ayarları</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link float-right" id="google-tab" data-toggle="tab" href="#google" role="tab" aria-controls="google" aria-selected="true">Google Ayarları</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link float-right" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Sosyal Medya Ayarları</a>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link float-right" id="whatsapp-tab" data-toggle="tab" href="#whatsapp" role="tab" aria-controls="whatsapp" aria-selected="false">Whatsapp Ayarları</a>
                </li>*@
                <li class="nav-item">
                    <a class="nav-link float-right" id="site-tab" data-toggle="tab" href="#site" role="tab" aria-controls="site" aria-selected="false">Site Ayarları</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="card-body">
                    <div class="row ml-lg-48">
                        <div class="col-md-9">
                            <form method="post" id="emailForm">
                                <div class="form-group">
                                    <label>Gönderim Yapacak Mail Adresi</label>
                                    <input type="text" class="form-control" placeholder="Adres" asp-for="Adres" />
                                </div>
                                <div class="form-group">
                                    <label>Server</label>
                                    <input type="text" class="form-control" placeholder="Server" asp-for="Server" />
                                </div>
                                <div class="form-group">
                                    <label>Mail Adresi Şifresi</label>
                                    <input type="text" class="form-control" placeholder="Şifre" asp-for="Sifre" />
                                </div>
                                <div class="form-group">
                                    <label>Port</label>
                                    <input type="text" class="form-control" placeholder="Port" asp-for="Port" />
                                </div>
                                <div class="form-group">
                                    <label>İletilecek Mail Adresi</label>
                                    <input type="text" class="form-control" placeholder="İletilecekAdres" asp-for="IletilecekAdres" />
                                </div>
                                


                                <div class="card-footer float-right">
                                    <input type="submit" value="Kaydet" onclick="return emailAyar()" class="btn btn-primary mr-2" />
                                    <button asp-action="Ayarlar" asp-controller="Panel" class="btn btn-secondary">İptal</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="card-body">
                    <div class="row ml-lg-48">
                        <div class="col-md-9">
                            <form action="/" method="post" id="sosyalForm">
                                <div class="form-group">
                                    <label>Facebook</label>
                                    <input type="text" class="form-control" placeholder="Facebook" asp-for="Facebook" />
                                </div>
                                <div class="form-group">
                                    <label>Instagram</label>
                                    <input type="text" class="form-control" placeholder="Instagram" asp-for="Instagram" />

                                </div>
                                <div class="form-group">
                                    <label>Twitter</label>
                                    <input type="text" class="form-control" placeholder="Twitter" asp-for="Twitter" />

                                </div>
                                <div class="form-group">
                                    <label>Linkedin</label>
                                    <input type="text" class="form-control" placeholder="Linkedin" asp-for="Linkedin" />

                                </div>
                                @*<div class="form-group">
                                    <label>Google</label>
                                    <input type="text" class="form-control" placeholder="Google" asp-for="Google" />

                                </div>*@
                                <div class="card-footer float-right">
                                    <input type="submit" value="Kaydet" onclick="return sosyalAyar()" class="btn btn-primary mr-2" />
                                    <button asp-action="Ayarlar" asp-controller="Panel" class="btn btn-secondary">İptal</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
            <div class="tab-pane fade " id="google" role="tabpanel" aria-labelledby="google-tab">
                <div class="card-body">
                    <div class="row ml-lg-48">
                        <div class="col-md-9">
                            <form action="/" method="post" id="googleForm">
                                <div class="form-group">
                                    <label>Google Site Doğrulama Kodu(HTML Tag)</label>
                                    <input type="text" asp-for="GoogleDogrulamaKodu" placeholder="Google Site Doğrulama Kodu" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>Google Analytics Kodu</label>
                                    <input type="text" asp-for="GoogleAnalyticsKodu" placeholder="UA-000000" class="form-control"/>
                                </div>
                                
                                <div class="card-footer float-right">
                                    <input type="submit" value="Kaydet" onclick="return googleAyar()" class="btn btn-primary mr-2" />
                                    <button asp-action="Ayarlar" asp-controller="Panel" class="btn btn-secondary">İptal</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
            <div class="tab-pane fade " id="whatsapp" role="tabpanel" aria-labelledby="whatsapp-tab">
                <div class="card-body">
                    <div class="row ml-lg-40">
                        <div class="col-md-10">
                            <form action="/" method="post" id="whatsappForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Whatsapp Mesaj Metni</label>
                                            <input type="text" class="form-control" placeholder="Whatsapp Mesaj Metni" asp-for="WhatsappMesaj"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Whatsapp Telefon Numarası</label>
                                            <input type="text" class="form-control" placeholder="90..." asp-for="WhatsappTelefon" />

                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2"><label class="mt-2">Aktif</label></div>
                                                <div class="col-md-3">
                                                    <span class="switch switch-icon">
                                                        <label>
                                                            <input type="checkbox" value="@Model.WhatsappDurum" asp-for="WhatsappDurum" />
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-1">
                                            <label for="exampleTextarea">Canlı Destek Kodu</label>
                                            <textarea asp-for="CanliDestekKodu" placeholder="zopim.com veya tawk.to sitesinden alacağınız canlı destek kodunu bu alana ekleyiniz." class="form-control" rows="3" style="height: 127px;"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <div class="row mt-6">
                                                <div class="col-md-2"><label class="mt-2">Aktif</label></div>
                                                <div class="col-md-3">
                                                    <span class="switch switch-icon">
                                                        <label>
                                                            <input type="checkbox" value="@Model.CanliDestekAktif" asp-for="CanliDestekAktif" />
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer float-right">
                                    <input type="submit" value="Kaydet" onclick="return whatsappAyar()" class="btn btn-primary mr-2" />
                                    <button asp-action="Ayarlar" asp-controller="Panel" class="btn btn-secondary">İptal</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
            <div class="tab-pane fade " id="site" role="tabpanel" aria-labelledby="site-tab">
                <div class="card-body">
                    <div class="row ml-lg-48">
                        <div class="col-md-9">
                            <form action="/" method="post" id="siteForm" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Site Url</label>
                                    <input type="text" class="form-control" placeholder="Site Url" asp-for="SiteUrl" />
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="mt-4">Logo</div>
                                            <div class="image-input image-input-outline mt-2">
                                                <img id="Logo" height="160" width="160" src="~/img/@Model.Logo" />
                                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                                    <input type="file" id="gorsel" name="Gorsel" accept=".png, .jpg, .jpeg" />
                                                    <input type="hidden" name="profile_avatar_remove" />
                                                </label>
                                            </div>
                                            <div class="mt-0 pt-0 ml-48">
                                                <a onclick="gorselKaldır()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mt-4">Favicon</div>
                                            <div class="image-input image-input-outline mt-2">
                                                <img id="Favicon" height="160" width="160" src="~/img/@Model.Favicon" />
                                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                                    <input type="file" id="gorselEN" name="GorselEN" accept=".png, .jpg, .jpeg" />
                                                    <input type="hidden" name="profile_avatar_remove" />
                                                </label>
                                            </div>
                                            <div class="mt-0 pt-0 ml-48">
                                                <a onclick="gorselKaldırEN()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div>
                                    <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                                        <li class="nav-item ">
                                            <a class="nav-link active float-right" id="tr-tab" data-toggle="tab" href="#tr" role="tab" aria-controls="tr" aria-selected="true">TR</a>
                                        </li>
                                        @if (Model.EN)
                                        {
                                            <li class="nav-item">
                                            <a class="nav-link float-right" id="en-tab" data-toggle="tab" href="#en" role="tab" aria-controls="en" aria-selected="false">EN</a>
                                        </li>
                                        }
                                        

                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div id="tr" class="tab-pane fade show active" role="tabpanel" aria-labelledby="tr-tab">
                                        <div>
                                            <div class="form-group mt-8">
                                                <label>Site Title(TR)</label>
                                                <input type="text" class="form-control" placeholder="Site Title" asp-for="SiteTitle" />
                                            </div>
                                            <div class="form-group">
                                                <label>Description(TR)</label>
                                                <input type="text" class="form-control" placeholder="Description" asp-for="Description" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="en" class="tab-pane fade" role="tabpanel" aria-labelledby="en-tab">
                                        <div>
                                            <div class="form-group mt-8">
                                                <label>Site Title(EN)</label>
                                                <input type="text" class="form-control" placeholder="Site Title" asp-for="SiteTitleEN" />
                                            </div>
                                            <div class="form-group">
                                                <label>Description(EN)</label>
                                                <input type="text" class="form-control" placeholder="Description" asp-for="DescriptionEN" />
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="card-footer float-right">
                                    <input type="submit" value="Kaydet" onclick="return siteAyar()" class="btn btn-primary mr-2" />
                                    <button asp-action="Ayarlar" asp-controller="Panel" class="btn btn-secondary">İptal</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <!--begin::Form-->
        <!--end::Form-->
    </div>
</div>


@section Javascript{
    <script type="text/javascript">

        function gorselKaldır() {
                var data = new FormData();
            data.append("Id", $('#IdGuncel').val());
            data.append("sayfa", "ayarlar");
            data.append("dil", "logo");
                Swal.fire({
                title: "Görsel silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                    url: '@Url.Action("GorselSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Görsel Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                        $("#Logo").attr('src', '/img/null.png');
                        $('#gorsel').val("");
                    }
                });
                }
            });

        };

        function gorselKaldırEN() {
                var data = new FormData();
            data.append("Id", $('#IdGuncel').val());
            data.append("sayfa", "ayarlar");
            data.append("dil", "favicon");
                Swal.fire({
                title: "Görsel silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                    url: '@Url.Action("GorselSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Görsel Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                        $("#Favicon").attr('src', '/img/null.png');
                        $('#gorselEN').val("");
                    }
                });
                }
            });

        };

        $(document).ready(function () {

            $("#gorselEN").change(function (e) {

                $("#Favicon").removeAttr('src');
                $("#Favicon").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#gorsel").change(function (e) {

                $("#Logo").removeAttr('src');
                $("#Logo").attr('src', URL.createObjectURL(e.target.files[0]));
            });


        });

        $(document).ready(function () {
            habervalidator = $("#emailForm").validate({
                rules: {
                    Adres: {
                        required: true,
                    },
                    Sifre: {
                        required: true,
                    }
                },
                messages: {
                    Adres: {
                        required: "Bu alan boş geçilemez."
                    },
                    Sifre: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });


        function EmailAyarı() {
            var form = new FormData();
            form.append("Adres", $('#Adres').val());
            form.append("Server", $('#Server').val());
            form.append("Sifre", $('#Sifre').val());
            form.append("Port", $('#Port').val());
            form.append("IletilecekAdres", $('#IletilecekAdres').val());
            form.append("IletilecekAdres2", $('#IletilecekAdres2').val());
            $.ajax({
                url: '@Url.Action("EmailAyar", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Ayarlar Başarıyla Güncellendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }

                }
            });
        }
        var habervalidator;

        function emailAyar() {
            if (habervalidator.form()) {
                EmailAyarı();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })
                return false;
            }
        }

        //$(document).ready(function () {
        //    habervalidator3 = $("#googleForm").validate({
        //        rules: {
        //            GoogleDogrulamaKodu: {
        //                required: true,
        //            },
        //            GoogleAnalyticsKodu: {
        //                required: true,
        //            }
        //        },
        //        messages: {
        //            GoogleDogrulamaKodu: {
        //                required: "Bu alan boş geçilemez."
        //            },
        //            GoogleAnalyticsKodu: {
        //                required: "Bu alan boş geçilemez."
        //            }
        //        }
        //    });
        //});

        function GoogleAyarı() {
            var form = new FormData();
            form.append("GoogleDogrulamaKodu", $('#GoogleDogrulamaKodu').val());
            form.append("GoogleAnalyticsKodu", $('#GoogleAnalyticsKodu').val());
            form.append("RecaptchaSiteKey", $('#RecaptchaSiteKey').val());
            form.append("RecaptchaSecretKey", $('#RecaptchaSecretKey').val());
            $.ajax({
                url: '@Url.Action("GoogleAyar", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Ayarlar Başarıyla Güncellendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }

                }
            });
        }

        function googleAyar() {
            GoogleAyarı();
            return false;
        }
        //var habervalidator3;

        //function googleAyar() {
        //    if (habervalidator3.form()) {
        //        GoogleAyarı();
        //        return false;
        //    }
        //    else {
        //        swal.fire({
        //            text: "Lütfen bilgileri eksiksiz giriniz.",
        //            icon: "error",
        //            buttonsStyling: true,
        //            confirmButtonText: "Tamam",
        //            customClass: {
        //                confirmButton: "btn font-weight-bold btn-light-primary"
        //            }
        //        })
        //        return false;
        //    }
        //}



        function SosyalAyarı() {
            var form = new FormData();
            form.append("Facebook", $('#Facebook').val());
            form.append("Twitter", $('#Twitter').val());
            form.append("Google", $('#Google').val());
            form.append("Instagram", $('#Instagram').val());
            form.append("Linkedin", $('#Linkedin').val());
            $.ajax({
                url: '@Url.Action("SosyalAyar", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Ayarlar Başarıyla Güncellendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }

                }
            });
        }

        function sosyalAyar() {
            SosyalAyarı();
            return false;
        }

        function WhatsappAyarı() {
            if (document.getElementById("WhatsappDurum").checked) {
                $('#WhatsappDurum').val(true);
            }
            else {
                $('#WhatsappDurum').val(false);
            }

            if (document.getElementById("CanliDestekAktif").checked) {
                $('#CanliDestekAktif').val(true);
            }
            else {
                $('#CanliDestekAktif').val(false);
            }
            var form = new FormData();
            form.append("WhatsappMesaj", $('#WhatsappMesaj').val());
            form.append("WhatsappTelefon", $('#WhatsappTelefon').val());
            form.append("WhatsappDurum", $('#WhatsappDurum').val());
            form.append("CanliDestekAktif", $('#CanliDestekAktif').val());
            form.append("CanliDestekKodu", $('#CanliDestekKodu').val());
            $.ajax({
                url: '@Url.Action("WhatsappAyar", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Ayarlar Başarıyla Güncellendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }

                }
            });
        }

        function whatsappAyar() {
            WhatsappAyarı();
            return false;
        }

        $(document).ready(function () {
            habervalidator2 = $("#siteForm").validate({
                rules: {
                    SiteUrl: {
                        required: true,
                    }
                },
                messages: {
                    SiteUrl: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });


        function SiteAyarı() {
            var logo = $("#gorsel").get(0).files;
            var favicon = $('#gorselEN').get(0).files;
            var form = new FormData();
            form.append("SiteUrl", $('#SiteUrl').val());
            form.append("SiteTitle", $('#SiteTitle').val());
            form.append("SiteTitleEN", $('#SiteTitleEN').val());
            form.append("Description", $('#Description').val());
            form.append("DescriptionEN", $('#DescriptionEN').val());
            form.append("logo", logo[0]);
            form.append("favicon", favicon[0]);
            $.ajax({
                url: '@Url.Action("SiteAyar", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Ayarlar Başarıyla Güncellendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }

                }
            });
        }
        var habervalidator2;

        function siteAyar() {
            if (habervalidator2.form()) {
                SiteAyarı();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })
                return false;
            }
        }
    </script>
}

