﻿@model IEnumerable<Zemedya.Entity.Concrete.EkipEntities.Ekip>
@{
    ViewData["Title"] = "Ekip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="card card-custom">
        <div class="card-header flex-wrap-border-0 pt-6 pb-0">

            <div class="card-title">
                <h3 class="card-label font-size-h3-lg mb-7">
                    <i class="flaticon2-gear text-primary"></i>
                    Ekip Listesi
                </h3>
            </div>

            <div>
                <a data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary font-weight-bolder">
                    <i class="fas fa-plus"></i>	Yeni Ekle
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="example-preview">
                <table class="table table-striped table-hover table-bordered " id="dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">Ad</th>
                            <th scope="col">Soyad</th>
                            <th scope="col">Email</th>
                            <th scope="col" style="width:50px;">Aktif</th>
                            <th scope="col" style="width:50px;">Güncelle</th>
                            <th scope="col" style="width:50px;">Sil</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Ad</td>
                            <td>@item.Soyad</td>
                            <td>@item.Email</td>
                            <td>
                                @if (item.Aktif)
                                {
                                    <a data-id="@item.Id" class="aktif btn btn-sm font-weight-bold btn-light-primary btn-inline ml-2">Aktif</a>
                                }
                                else
                                {
                                    <a data-id="@item.Id" class="aktif btn btn-sm font-weight-bold btn-light-danger btn-inline ml-2">Pasif</a>
                                }

                            </td>
                            <td>
                                <a data-id="@item.Id" data-toggle="modal" data-target="#kategoriGuncelle" class="guncelle"><i class=" flaticon-refresh text-warning icon-xl ml-5 btn"></i></a>
                            </td>
                            <td>
                                <a data-id="@item.Id" class="Sil btn flaticon-delete text-danger icon-xl ml-2"></a>
                            </td>

                        </tr>

                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="card-header" style="padding:0;">
                    <button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title mt-10 ml-10" id="exampleModalLongTitle">Yeni Ekle</h4>
                    
                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form method="post" id="ekipform" enctype="multipart/form-data">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Ad</label>
                                            <input type="text" class="form-control" placeholder="Ad" name="Ad" id="Ad" />
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control" placeholder="Email" name="Email" id="Email" />
                                        </div>
                                        <div class="form-group">
                                            <label>Telefon</label>
                                            <input type="text" class="form-control" placeholder="Telefon" name="Telefon" id="Telefon" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Soyad</label>
                                            <input type="text" class="form-control" placeholder="Soyad" name="Soyad" id="Soyad" />
                                        </div>
                                        <div class="form-group">
                                            <label>Ünvan</label>
                                            <input type="text" class="form-control" placeholder="Ünvan" name="Unvan" id="Unvan" />
                                        </div>
                                        <div class="form-group">
                                            <label>Departman</label>
                                            <input type="text" class="form-control" placeholder="Departman" name="Departman" id="Departman" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div>Görsel</div>
                                            <div class="image-input image-input-outline mt-2">
                                                <img id="Resim" height="160" width="160" src="~/img/null.png" />
                                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"                   data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                                    <input type="file" id="gorsel" name="gorsel" accept=".png, .jpg, .jpeg" />
                                                    <input type="hidden" name="profile_avatar_remove" />
                                                </label>
                                             </div>
                                            <div class="mt-0 pt-0 ml-48">
                                                    <a onclick="gorselKaldır()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-             primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                            </div>

                                         </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group mb-1">
                                            <label for="exampleTextarea">Açıklama</label>
                                            <textarea id="Aciklama" name="Aciklama" class="form-control" rows="2" style="height: 70px;"> </textarea>
                                        </div>
                                    </div>
                                </div>
                                

                            </div>
                            
                            <div class="card-footer float-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <input type="submit" value="Kaydet" onclick="return ekipEkle()" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>
    <div class="modal fade" id="kategoriGuncelle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="card-header" style="padding:0;">
                    <button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title mt-10 ml-10" id="exampleModalLongTitle">Güncelle</h4>

                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form method="post" id="ekipguncelleform" enctype="multipart/form-data">
                        <input type="hidden" id="IdGuncel" />
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Ad</label>
                                            <input type="text" class="form-control" placeholder="Ad" name="AdGuncel" id="AdGuncel" />
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control" placeholder="Email" name="EmailGuncel" id="EmailGuncel" />
                                        </div>
                                        <div class="form-group">
                                            <label>Telefon</label>
                                            <input type="text" class="form-control" placeholder="Telefon" name="TelefonGuncel" id="TelefonGuncel" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Soyad</label>
                                            <input type="text" class="form-control" placeholder="Soyad" name="SoyadGuncel" id="SoyadGuncel" />
                                        </div>
                                        <div class="form-group">
                                            <label>Ünvan</label>
                                            <input type="text" class="form-control" placeholder="Ünvan" name="UnvanGuncel" id="UnvanGuncel" />
                                        </div>
                                        <div class="form-group">
                                            <label>Departman</label>
                                            <input type="text" class="form-control" placeholder="Departman" name="DepartmanGuncel" id="DepartmanGuncel" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div>Görsel</div>
                                            <div class="image-input image-input-outline mt-2">
                                                <img id="ResimGuncel" height="160" width="160" src="~/img/null.png" />
                                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                                    <input type="file" id="gorselGuncel" name="gorselGuncel" accept=".png, .jpg, .jpeg" />
                                                    <input type="hidden" name="profile_avatar_remove" />
                                                </label>
                                            </div>
                                            <div class="mt-0 pt-0 ml-48">
                                                <a onclick="gorselKaldırGuncel()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group mb-1">
                                            <label for="exampleTextarea">Açıklama</label>
                                            <textarea id="AciklamaGuncel" name="AciklamaGuncel" class="form-control" rows="2" style="height: 70px;"></textarea>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="card-footer float-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <input type="submit" value="Kaydet" onclick="return ekipGuncelle()" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>

                </div>
                


            </div>
        </div>
    </div>

</div>

@section Javascript{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable();
            CKEDITOR.replace('Aciklama');
            CKEDITOR.replace('AciklamaGuncel');
        });

        $(document).ready(function () {
            $(".Sil").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                Swal.fire({
                title: "Ekip bilgisi silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                    url: '@Url.Action("EkipSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                });
                }
            });
            });
        });


        $(document).ready(function () {
            $(".guncelle").on("click", function () {
                var popupId = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", popupId);
                $.ajax({
                    url: '@Url.Action("EkipGuncelle", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        ad = data.ad;
                        soyad = data.soyad;
                        email = data.email;
                        aciklama = data.aciklama;
                        telefon = data.telefon;
                        gorsel = data.gorsel;
                        departman = data.departman;
                        unvan = data.unvan;
                        $('#AdGuncel').val(ad);
                        $('#SoyadGuncel').val(soyad);
                        $('#EmailGuncel').val(soyad);
                        $('#DepartmanGuncel').val(departman);
                        $('#TelefonGuncel').val(telefon);
                        CKEDITOR.instances['AciklamaGuncel'].setData(aciklama);
                        $('#UnvanGuncel').val(unvan);
                        $("#ResimGuncel").attr('src', '/img/' + gorsel);
                        $('#IdGuncel').val(popupId);
                    }
                });
            });
        });

        $(document).ready(function () {
            $(".aktif").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                $.ajax({
                    url: '@Url.Action("PasifeCevirEkip", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        window.location.reload();
                    }
                });
            });
        });







        function gorselKaldır() {
            $("#Resim").attr('src', '/img/null.png');
            $('#Gorsel').val("");
        };


        function gorselGuncelKaldır() {
                var data = new FormData();
            data.append("Id", $('#IdGuncel').val());
            data.append("sayfa", "ekip");
            data.append("dil", "tr");
                Swal.fire({
                title: "Görsel silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                    url: '@Url.Action("GorselSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Görsel Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                        $("#ResimGuncel").attr('src', '/img/null.png');
                        $('#GorselGuncel').val("");
                    }
                });
                }
            });

        };

        

        $(document).ready(function () {

            $("#gorsel").change(function (e) {
                $("#Resim").removeAttr('src');
                $("#Resim").attr('src', URL.createObjectURL(e.target.files[0]));
            });


            $("#gorselGuncel").change(function (e) {

                $("#ResimGuncel").removeAttr('src');
                $("#ResimGuncel").attr('src', URL.createObjectURL(e.target.files[0]));
            });

        });

        $(document).ready(function () {
            habervalidator2 = $("#ekipform").validate({
                rules: {
                    Ad: {
                        required: true,
                    },
                    Soyad: {
                        required: true,
                    }
                },
                messages: {
                    Ad: {
                        required: "Bu alan boş geçilemez."
                    },
                    Soyad: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });
        
        function EkipEkle() {
            var gorsel = $("#gorsel").get(0).files;
            var desc = CKEDITOR.instances['Aciklama'].getData();
            var form = new FormData();
            form.append("Ad", $('#Ad').val());
            form.append("Soyad", $('#Soyad').val());
            form.append("resim", gorsel[0]);
            form.append("Telefon", $('#Telefon').val());
            form.append("Unvan", $('#Unvan').val());
            form.append("Departman", $('#Departman').val());
            form.append("Aciklama", desc);
            form.append("Email", $('#Email').val());

            $.ajax({
                url: '@Url.Action("EkipEkle", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Ekip Bilgisi Başarıyla Eklendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                    else {
                        swal.fire({
                            text: "Girdiğiniz Email bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })

                    }
                }
            });
        }
        var habervalidator2;

        function ekipEkle() {
            if (habervalidator2.form()) {
                EkipEkle();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }

        $(document).ready(function () {
            habervalidator = $("#ekipguncelleform").validate({
                rules: {
                    AdGuncel: {
                        required: true,
                    },
                    SoyadGuncel: {
                        required: true,
                    }
                },
                messages: {
                    AdGuncel: {
                        required: "Bu alan boş geçilemez."
                    },
                    SoyadGuncel: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });

        function EkipGuncelle() {
            var desc = CKEDITOR.instances['AciklamaGuncel'].getData();
            var gorsel = $("#gorselGuncel").get(0).files;
            var form = new FormData();
                form.append("Ad", $('#AdGuncel').val());
                form.append("Soyad", $('#SoyadGuncel').val());
                form.append("resim", gorsel[0]);
                form.append("Telefon", $('#TelefonGuncel').val());
                form.append("Unvan", $('#UnvanGuncel').val());
                form.append("Departman", $('#DepartmanGuncel').val());
                form.append("Aciklama", desc);
                form.append("Email", $('#EmailGuncel').val());
                form.append("Id", $('#IdGuncel').val());

            $.ajax({
                url: '@Url.Action("EkipGuncel", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Başarıyla Güncellendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                    else {
                        swal.fire({
                            text: "Girdiğiniz bilgiler sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })

                    }
                }
            });
        }
        var habervalidator;

        function ekipGuncelle() {
            if (habervalidator.form()) {
                EkipGuncelle();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }
    </script>
}

