﻿@model IEnumerable<Zemedya.Entity.Concrete.HaberEntities.Haber>
@{
    ViewData["Title"] = "Haberler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="card card-custom">
        <div class="card-header flex-wrap-border-0 pt-6 pb-0">
            
                <div class="card-title">
                    <h3 class="card-label font-size-h3-lg mb-7">
                        <i class="flaticon2-gear text-primary"></i>
                        Haber Listesi
                    </h3>
                </div>
            
            <div>
                <a asp-action="HaberEkle" asp-controller="Panel" class="btn btn-primary font-weight-bolder">
                    <i class="fas fa-plus"></i>	Yeni Ekle
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="example-preview">
                <table class="table table-striped table-hover table-bordered " id="dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col" >İsim</th>
                            <th scope="col">Tarih</th>
                            <th scope="col" style="width:50px;">Aktif</th>
                            <th scope="col" style="width:50px;">Güncelle</th>
                            <th scope="col" style="width:50px;">Sil</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Isim</td>
                            <td>@item.Tarih.ToShortDateString()</td>
                            <td>
                                @if (item.Aktif)
                                {
                                    <a data-id="@item.Id" class="aktif btn btn-sm font-weight-bold btn-light-primary btn-inline ml-2">Aktif</a>
                                }
                                else
                                {
                                    <a data-id="@item.Id" class="aktif btn btn-sm font-weight-bold btn-light-danger btn-inline ml-2">Pasif</a>
                                }

                            </td>
                            <td>
                                <a href="/Panel/HaberGuncelle/@item.Id"><i class="flaticon-refresh text-warning icon-xl ml-8"></i></a>
                            </td>
                            <td>
                                <a data-id="@item.Id" class="Sil btn flaticon-delete text-danger icon-xl ml-2"></a>
                            </td>

                        </tr>

                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
        
        
    </div>

@section Javascript{ 
    <script type="text/javascript">

        $(document).ready(function () {
            $(".Sil").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                Swal.fire({
                title: "Haber silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                    url: '@Url.Action("HaberSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Haber Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                });
                }
            });
            });
        });

        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        $(document).ready(function () {
            $(".aktif").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                $.ajax({
                    url: '@Url.Action("PasifeCevir", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        window.location.reload();
                    }
                });
            });
        });
    </script>
}
  



