﻿@model IEnumerable<Zemedya.Entity.Concrete.IletisimEntities.Iletisim>
@{
    ViewData["Title"] = "Iletisim";
    ViewData["TitleEN"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="card card-custom">
        <div class="card-header flex-wrap-border-0 pt-6 pb-0">

            <div class="card-title">
                <h3 class="card-label font-size-h3-lg mb-7">
                    <i class="flaticon2-gear text-primary"></i>
                    İletişim Listesi
                </h3>
            </div>

            @*<div>
                <a data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary font-weight-bolder">
                    <i class="fas fa-plus"></i>	Yeni Ekle
                </a>
            </div>*@
        </div>
        <div class="card-body">
            <div class="example-preview">
                <table class="table table-striped table-hover table-bordered " id="dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">Başlık</th>
                            <th scope="col">Telefon</th>
                            <th scope="col">EMail</th>
                            <th scope="col" style="width:50px;">Aktif</th>
                            <th scope="col" style="width:50px;">Güncelle</th>
                            @*<th scope="col" style="width:50px;">Sil</th>*@

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Baslik</td>
                            <td>@item.Telefon</td>
                            <td>@item.Email</td>
                            <td>
                                @if (item.Aktif)
                                {
                                    <a data-id="@item.Id" class="aktif btn btn-sm font-weight-bold btn-light-primary btn-inline ml-2">Aktif</a>
                                }
                                else
                                {
                                    <a data-id="@item.Id" class="aktif btn btn-sm font-weight-bold btn-light-danger btn-inline ml-2">Pasif</a>
                                }

                            </td>
                            <td>
                                <a data-id="@item.Id" data-toggle="modal" data-target="#kategoriGuncelle" class="guncelle"><i class=" flaticon-refresh text-warning icon-xl ml-5 btn"></i></a>
                            </td>
                            @*<td>
                                <a data-id="@item.Id" class="Sil btn flaticon-delete text-danger icon-xl ml-2"></a>
                            </td>*@

                        </tr>

                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="card-header" style="padding:0;">
                    <button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title mt-10 ml-10" id="exampleModalLongTitle">İletişim Ekle</h4>
                    @if (ViewBag.en == "True")
                    {
                        <ul class="nav nav-tabs mt-2 float-right" id="myTab" role="tablist">
                            <li class="nav-item ">
                                <a class="nav-link active float-right h6" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">TR</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link float-right h6" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">EN</a>
                            </li>
                        </ul>
                    }

                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form method="post" id="haberkategoriform" enctype="multipart/form-data">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">

                                <div class="form-group">
                                    <label>Başlık</label>
                                    <input type="text" class="form-control" placeholder="Baslik" name="Baslik" id="Baslik" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Adres</label>
                                    <input type="text" class="form-control" name="Adres" id="Adres" placeholder="Adres" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Fax</label>
                                    <input type="text" class="form-control" name="Fax" id="Fax" placeholder="Fax" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Telefon</label>
                                    <input type="text" class="form-control" name="Telefon" id="Telefon" placeholder="Telefon" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Telefon-2 </label>
                                    <input type="text" class="form-control" name="Telefon2" id="Telefon2" placeholder="Telefon-2" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Email</label>
                                    <input type="text" class="form-control" name="Email" id="Email" placeholder="Email" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Harita Kod (Html kodundaki src kodunu giriniz.)</label>
                                    <input type="text" class="form-control" name="HaritaKod" id="HaritaKod" placeholder="https://..." />
                                </div>
                                

                            </div>
                            <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="form-group">
                                    <label>Başlık(EN)</label>
                                    <input type="text" class="form-control" placeholder="Başlık(EN)" id="BaslikEN" name="BaslikEN" />
                                </div>
                                 
                            </div>
                            <div class="card-footer float-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <input type="submit" value="Kaydet" onclick="return popupEkle()" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>
    <div class="modal fade" id="kategoriGuncelle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="card-header" style="padding:0;">
                    <button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title mt-10 ml-10">İletişim Güncelle</h4>
                    @if (ViewBag.en == "True")
                    {
                        <ul class="nav nav-tabs mt-2 float-right" id="myTab" role="tablist">
                            <li class="nav-item ">
                                <a class="nav-link active float-right h6" id="home-tab" data-toggle="tab" href="#trguncel" role="tab" aria-controls="trguncel" aria-selected="true">TR</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link float-right h6" id="profile-tab" data-toggle="tab" href="#enguncel" role="tab" aria-controls="enguncel" aria-selected="false">EN</a>
                            </li>
                        </ul>
                    }

                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form method="post" id="haberguncelleform" enctype="multipart/form-data">
                        <input type="hidden" id="IdGuncel" />
                        <input type="hidden" id="AktifGuncel" />
                        <div class="tab-content" id="guncellekategori">
                            <div class="tab-pane fade show active " id="trguncel" role="tabpanel" aria-labelledby="home-tab">
                                <div class="form-group">
                                    <label>Başlık</label>
                                    <input type="text" class="form-control" placeholder="Baslik" name="BaslikGuncel" id="BaslikGuncel" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Adres</label>
                                    <input type="text" class="form-control" name="AdresGuncel" id="AdresGuncel" placeholder="Adres" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Fax</label>
                                    <input type="text" class="form-control" name="FaxGuncel" id="FaxGuncel" placeholder="Fax" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Telefon</label>
                                    <input type="text" class="form-control" name="TelefonGuncel" id="TelefonGuncel" placeholder="Telefon" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Telefon-2 </label>
                                    <input type="text" class="form-control" name="TelefonGuncel2" id="TelefonGuncel2" placeholder="Telefon-2" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Email</label>
                                    <input type="text" class="form-control" name="EmailGuncel" id="EmailGuncel" placeholder="Email" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Harita Kod(Html kodundaki src kodunu giriniz.)</label>
                                    <input type="text" class="form-control" name="HaritaKodGuncel" id="HaritaKodGuncel" placeholder="https://..." />
                                </div>

                            </div>
                            <div class="tab-pane fade " id="enguncel" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="form-group">
                                    <label>Başlık(EN)</label>
                                    <input type="text" class="form-control" placeholder="Başlık(EN)" id="BaslikGuncelEN" name="BaslikGuncelEN" />

                                </div>

                            </div>
                            <div class="card-footer float-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <input type="submit" value="Kaydet" onclick="return popupGuncelle()" class="btn btn-primary " />
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>

</div>

@section Javascript{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        $(document).ready(function () {
            $(".Sil").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                Swal.fire({
                title: "İletişim silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                    url: '@Url.Action("IletisimSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        window.location.reload();
                    }
                });
                }
            });
            });
        });


        $(document).ready(function () {
            $(".guncelle").on("click", function () {
                var popupId = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", popupId);
                $.ajax({
                    url: '@Url.Action("IletisimGuncelle", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        aktif = data.aktif;
                        isim = data.isim;
                        adres = data.adres;
                        isimEN = data.isimEN;
                        fax = data.fax;
                        telefon = data.telefon;
                        telefon2 = data.telefon2;
                        email = data.email;
                        haritakod = data.haritakod;
                        $('#BaslikGuncel').val(isim);
                        $('#BaslikGuncelEN').val(isimEN);
                        $('#AdresGuncel').val(adres);
                        $('#FaxGuncel').val(fax);
                        $('#TelefonGuncel').val(telefon);
                        $('#TelefonGuncel2').val(telefon2);
                        $('#EmailGuncel').val(email);
                        $('#HaritaKodGuncel').val(haritakod);
                        $('#IdGuncel').val(popupId);
                        $('#AktifGuncel').val(aktif);
                    }
                });
            });
        });

        $(document).ready(function () {
            $(".aktif").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                $.ajax({
                    url: '@Url.Action("PasifeCevirIletisim", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        window.location.reload();
                    }
                });
            });
        });

        $(document).ready(function () {
            $(".Sil").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                Swal.fire({
                title: "İletişim bilgileri silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                    url: '@Url.Action("IletisimSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "İletişim bilgileri başarıyla silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                });
                }
            });
            });
        });





       


        $(document).ready(function () {
            habervalidator = $("#haberkategoriform").validate({
                
            });
        });

        function PopupEkle() {
            var form = new FormData();
            form.append("Baslik", $('#Baslik').val());
            form.append("BaslikEN", $('#BaslikEN').val());
            form.append("Adres", $('#Adres').val());
            form.append("Telefon", $('#Telefon').val());
            form.append("Telefon2", $('#Telefon2').val());
            form.append("Email", $('#Email').val());
            form.append("Fax", $('#Fax').val());
            form.append("HaritaKod", $('#HaritaKod').val());

            $.ajax({
                url: '@Url.Action("IletisimEkle", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Popup Başarıyla Eklendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                    else {
                        swal.fire({
                            text: "Girdiğiniz Link bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })

                    }
                }
            });
        }
        var habervalidator;

        function popupEkle() {
            if (habervalidator.form()) {
                PopupEkle();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }

        $(document).ready(function () {
            habervalidator = $("#haberguncelleform").validate({
                
            });
        });

        function PopupGuncelle() {
            var form = new FormData();
            form.append("Id", $('#IdGuncel').val());
            form.append("Aktif", $('#AktifGuncel').val());
            form.append("Baslik", $('#BaslikGuncel').val());
            form.append("BaslikEN", $('#BaslikGuncelEN').val());
            form.append("Adres", $('#AdresGuncel').val());
            form.append("Telefon", $('#TelefonGuncel').val());
            form.append("Telefon2", $('#TelefonGuncel2').val());
            form.append("Email", $('#EmailGuncel').val());
            form.append("Fax", $('#FaxGuncel').val());
            form.append("HaritaKod", $('#HaritaKodGuncel').val());

            $.ajax({
                url: '@Url.Action("IletisimGuncel", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "İletişim Başarıyla Güncellendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                    else {
                        swal.fire({
                            text: "Girdiğiniz Başlık bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })

                    }
                }
            });
        }
        var habervalidator;

        function popupGuncelle() {
            if (habervalidator.form()) {
                PopupGuncelle();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }
    </script>
}


