﻿@model IEnumerable<Zemedya.Entity.Concrete.KariyerFirsatlariEntities.KariyerFirsati>
@{
    ViewData["Title"] = "Kariyer Fırsatları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="card card-custom">
        <div class="card-header flex-wrap-border-0 pt-6 pb-0">

            <div class="card-title">
                <h3 class="card-label font-size-h3-lg mb-7">
                    <i class="flaticon2-gear text-primary"></i>
                    Kariyer Fırsatları Listesi
                </h3>
            </div>

            <div>
                <a data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary font-weight-bolder">
                    <i class="fas fa-plus"></i>	Yeni Ekle
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="example-preview">
                <table class="table table-striped table-hover table-bordered " id="dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">Referans No</th>
                            <th scope="col">Pozisyon</th>
                            <th scope="col" style="width:50px;">Aktif</th>
                            <th scope="col" style="width:50px;">Güncelle</th>
                            <th scope="col" style="width:50px;">Sil</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.ReferansNo</td>
                            <td>@item.Pozisyon</td>
                            <td>
                                @if (item.Aktif)
                                {
                                    <a data-id="@item.Id" class="aktif btn btn-sm font-weight-bold btn-light-primary btn-inline ml-2">Aktif</a>
                                }
                                else
                                {
                                    <a data-id="@item.Id" class="aktif btn btn-sm font-weight-bold btn-light-danger btn-inline ml-2">Pasif</a>
                                }

                            </td>
                            <td>
                                <a data-id="@item.Id" data-toggle="modal" data-target="#kategoriGuncelle" class="guncelle"><i class=" flaticon-refresh text-warning icon-xl ml-5 btn"></i></a>
                            </td>
                            <td>
                                <a data-id="@item.Id" class="Sil btn flaticon-delete text-danger icon-xl ml-2"></a>
                            </td>

                        </tr>

                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="card-header" style="padding:0;">
                    <button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title mt-10 ml-10" id="exampleModalLongTitle">Yasal Sayfası Ekle</h4>
                    @if (ViewBag.en == "True")
                    {
                        <ul class="nav nav-tabs mt-2 float-right" id="myTab" role="tablist">
                            <li class="nav-item ">
                                <a class="nav-link active float-right h6" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">TR</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link float-right h6" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">EN</a>
                            </li>
                        </ul>
                    }

                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form method="post" id="haberkategoriform" enctype="multipart/form-data">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Referans No</label>
                                            <input type="text" maxlength="100" class="form-control" placeholder="Referans No" name="ReferansNo" id="ReferansNo" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">SEO</label>
                                            <input type="text" maxlength="100" class="form-control" name="SEO" id="SEO" placeholder="SEO" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Tarih</label>
                                            <input type="date" class="form-control" name="Tarih" id="Tarih" placeholder="Tarih" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Şehir</label>
                                            <input type="text" class="form-control" maxlength="100" placeholder="Şehir" name="Sehir" id="Sehir" />
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Pozisyon</label>
                                            <input type="text" class="form-control" maxlength="100" placeholder="Pozisyon" name="Pozisyon" id="Pozisyon" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Pozisyon Tipi</label>
                                            <input type="text" class="form-control" maxlength="100" placeholder="Pozisyon Tipi" name="PozisyonTipi" id="PozisyonTipi" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>İş Alanı</label>
                                            <input type="text" class="form-control" maxlength="100" placeholder="İş Alanı" name="IsAlani" id="IsAlani" />
                                        </div>
                                    </div>
                                </div>
                                
                                
                                


                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay</label>
                                    <textarea name="Detay" id="Detay" class="form-control" rows="5" style="height:250px;"></textarea>
                                </div>

                            </div>
                            <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">SEO(EN)</label>
                                            <input type="text" maxlength="100" class="form-control" name="SEOEN" id="SEOEN" placeholder="SEO" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Pozisyon(EN)</label>
                                            <input type="text" class="form-control" maxlength="100" placeholder="Pozisyon" name="PozisyonEN" id="PozisyonEN" />
                                        </div>
                                    </div>



                                </div>
                                <div class="row">
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Pozisyon Tipi(EN)</label>
                                            <input type="text" class="form-control" maxlength="100" placeholder="Pozisyon Tipi" name="PozisyonTipiEN" id="PozisyonTipiEN" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>İş Alanı(EN)</label>
                                            <input type="text" class="form-control" maxlength="100" placeholder="İş Alanı" name="IsAlaniEN" id="IsAlaniEN" />
                                        </div>
                                    </div>
                                </div>





                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay(EN)</label>
                                    <textarea name="DetayEN" id="DetayEN" class="form-control" rows="5" style="height:250px;"></textarea>
                                </div>
                            </div>
                            <div class="card-footer float-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <input type="submit" value="Kaydet" onclick="return popupEkle()" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>
    <div class="modal fade" id="kategoriGuncelle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="card-header" style="padding:0;">
                    <button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title mt-10 ml-10">Kariyer Fırsatı Güncelle</h4>
                    @if (ViewBag.en == "True")
                    {
                        <ul class="nav nav-tabs mt-2 float-right" id="myTab" role="tablist">
                            <li class="nav-item ">
                                <a class="nav-link active float-right h6" id="home-tab" data-toggle="tab" href="#trguncel" role="tab" aria-controls="trguncel" aria-selected="true">TR</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link float-right h6" id="profile-tab" data-toggle="tab" href="#enguncel" role="tab" aria-controls="enguncel" aria-selected="false">EN</a>
                            </li>
                        </ul>
                    }

                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form method="post" id="haberguncelleform" enctype="multipart/form-data">
                        <input type="hidden" id="IdGuncel" />
                        <input type="hidden" id="AktifGuncel" />
                        <div class="tab-content" id="guncellekategori">
                            <div class="tab-pane fade show active " id="trguncel" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Referans No</label>
                                            <input type="text" maxlength="100" class="form-control" placeholder="Referans No" name="ReferansNoGuncel" id="ReferansNoGuncel" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">SEO</label>
                                            <input type="text" maxlength="100" class="form-control" name="SEOGuncel" id="SEOGuncel" placeholder="SEO" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Tarih</label>
                                            <input type="date" class="form-control" name="TarihGuncel" id="TarihGuncel" placeholder="Tarih" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Şehir</label>
                                            <input type="text" class="form-control" maxlength="100" placeholder="Şehir" name="SehirGuncel" id="SehirGuncel" />
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Pozisyon</label>
                                            <input type="text" class="form-control" maxlength="100" placeholder="Pozisyon" name="PozisyonGuncel" id="PozisyonGuncel" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Pozisyon Tipi</label>
                                            <input type="text" class="form-control" maxlength="100" placeholder="Pozisyon Tipi" name="PozisyonTipiGuncel" id="PozisyonTipiGuncel" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>İş Alanı</label>
                                            <input type="text" class="form-control" maxlength="100" placeholder="İş Alanı" name="IsAlaniGuncel" id="IsAlaniGuncel" />
                                        </div>
                                    </div>
                                </div>





                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay</label>
                                    <textarea name="DetayGuncel" id="DetayGuncel" class="form-control" rows="5" style="height:250px;"></textarea>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="enguncel" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">SEO(EN)</label>
                                            <input type="text" maxlength="100" class="form-control" name="SEOGuncelEN" id="SEOGuncelEN" placeholder="SEO" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Pozisyon(EN)</label>
                                            <input type="text" class="form-control" maxlength="100" placeholder="Pozisyon" name="PozisyonGuncelEN" id="PozisyonGuncelEN" />
                                        </div>
                                    </div>



                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Pozisyon Tipi(EN)</label>
                                            <input type="text" class="form-control" maxlength="100" placeholder="Pozisyon Tipi" name="PozisyonTipiGuncelEN" id="PozisyonTipiGuncelEN" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>İş Alanı(EN)</label>
                                            <input type="text" class="form-control" maxlength="100" placeholder="İş Alanı" name="IsAlaniGuncelEN" id="IsAlaniGuncelEN" />
                                        </div>
                                    </div>
                                </div>





                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay(EN)</label>
                                    <textarea name="DetayGuncelEN" id="DetayGuncelEN" class="form-control" rows="5" style="height:250px;"></textarea>
                                </div>
                            </div>
                            <div class="card-footer float-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <input type="submit" value="Kaydet" onclick="return popupGuncelle()" class="btn btn-primary " />
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>

</div>

@section Javascript{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        $('#Detay').summernote();
        $('#DetayEN').summernote();
        $('#DetayGuncel').summernote();
        $('#DetayGuncelEN').summernote();


       

        
            $(".Sil").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                Swal.fire({
                title: "Kariyer fırsatı silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                    url: '@Url.Action("KariyerFirsatlariSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Kariyer Fırsatı Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                });
                }
            });
            });
        


        
            $(".guncelle").on("click", function () {
                var popupId = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", popupId);
                $.ajax({
                    url: '@Url.Action("KariyerFirsatlariGuncelle", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        referansNo = data.referansNo;
                        seo = data.seo;
                        aktif = data.aktif;
                        pozisyon = data.pozisyon;
                        seoEN = data.seoEN;
                        sehir = data.sehir;
                        pozisyonTipi = data.pozisyonTipi;
                        tarih = data.tarih.split('T')[0];

                        pozisyonEN = data.pozisyonEN;
                        pozisyonTipiEN = data.pozisyonTipiEN;
                        isAlaniEN = data.isAlaniEN;
                        isAlani = data.isAlani;
                        detay = data.detay;
                        detayEN = data.detayEN;
                        $('#ReferansNoGuncel').val(referansNo);
                        $('#PozisyonGuncel').val(pozisyon);
                        $('#SehirGuncel').val(sehir);
                        $('#PozisyonTipiGuncel').val(pozisyonTipi);
                        $('#TarihGuncel').val(tarih);
                        $('#PozisyonGuncelEN').val(pozisyonEN);
                        $('#PozisyonTipiGuncelEN').val(pozisyonTipiEN);
                        $('#IsAlaniGuncelEN').val(isAlaniEN);
                        $('#IsAlaniGuncel').val(isAlani);
                        $('#SEOGuncel').val(seo);
                        $('#SEOGuncelEN').val(seoEN);
                        $('#AktifGuncel').val(aktif);
                        $('#DetayGuncel').summernote('code', detay);
                        $('#DetayGuncelEN').summernote('code', detayEN);
                        $('#IdGuncel').val(popupId);
                    }
                });
            });
        

        
            $(".aktif").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                $.ajax({
                    url: '@Url.Action("PasifeCevirKariyerFirsatlari", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        window.location.reload();
                    }
                });
            });
        

        $("#SEO").on('keyup change', function () {
            validateSEOInput('SEO');
        });

        $('#SEO').bind("keyup focusout", function () {
            validateSEOInput('SEO');
        });

        $("#SEOEN").on('keyup change', function () {
            validateSEOInput('SEOEN');
        });

        $('#SEOEN').bind("keyup focusout", function () {
            validateSEOInput('SEOEN');
        });

        $("#SEOGuncel").on('keyup change', function () {
            validateSEOInput('SEOGuncel');
        });

        $('#SEOGuncel').bind("keyup focusout", function () {
            validateSEOInput('SEOGuncel');
        });

        $("#SEOGuncelEN").on('keyup change', function () {
            validateSEOInput('SEOGuncelEN');
        });

        $('#SEOGuncelEN').bind("keyup focusout", function () {
            validateSEOInput('SEOGuncelEN');
        });

        function validateSEOInput(id) {
            var charMap = { Ç: 'c', Ö: 'o', Ş: 's', İ: 'i', I: 'i', Ü: 'u', Ğ: 'g', ç: 'c', ö: 'o', ş: 's', ı: 'i', ü: 'u', ğ: 'g' };
            var str = $("#" + id).val();
            str_array = str.split('');
            for (var i = 0, len = str_array.length; i < len; i++) {
                str_array[i] = charMap[str_array[i]] || str_array[i];
            }
            str = str_array.join('');
            var clearStr = str.replace("&", "-").replace(",", "").replace(".", "").replace(" ", "-").replace("--", "-").replace("/", "").replace(/'/g, "").toLowerCase();
            $("#" + id).val(clearStr);
        };








        

        
            habervalidator2 = $("#haberkategoriform").validate({
                rules: {
                    Pozisyon: {
                        required: true,
                    },
                    PozisyonEN: {
                        required: true,
                    },
                    SEO: {
                        required: true,
                    },
                    SEOEN: {
                        required: true,
                    }
                },
                messages: {
                    Pozisyon: {
                        required: "Bu alan boş geçilemez."
                    },
                    PozisyonEN: {
                        required: "Bu alan boş geçilemez."
                    },
                    SEO: {
                        required: "Bu alan boş geçilemez."
                    },
                    SEOEN: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        

        function PopupEkle() {
            var form = new FormData();
            form.append("ReferansNo", $('#ReferansNo').val());
            form.append("Pozisyon", $('#Pozisyon').val());
            form.append("Sehir", $('#Sehir').val());
            form.append("IsAlani", $('#IsAlani').val());
            form.append("SEO", $('#SEO').val());
            form.append("SEOEN", $('#SEOEN').val());
            form.append("PozisyonTipi", $('#PozisyonTipi').val());
            form.append("Tarih", $('#Tarih').val());
            form.append("PozisyonEN", $('#PozisyonEN').val());
            form.append("PozisyonTipiEN", $('#PozisyonTipiEN').val());
            form.append("IsAlaniEN", $('#IsAlaniEN').val());
            form.append("Detay", $('#Detay').summernote('code'));
            form.append("DetayEN", $('#DetayEN').summernote('code'));

            $.ajax({
                url: '@Url.Action("KariyerFirsatlariEkle", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Kariyer Fırsatı Başarıyla Eklendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                    else if (data.result == 2) {
                        swal.fire({
                            text: "Girdiğiniz SEO-TR bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })

                    }
                    else {
                        swal.fire({
                            text: "Girdiğiniz SEO-EN bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                }
            });
        }
        var habervalidator2;

        function popupEkle() {
            if (habervalidator2.form()) {
                PopupEkle();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }

       
            habervalidator = $("#haberguncelleform").validate({
                rules: {
                    PozisyonGuncel: {
                        required: true,
                    },
                    PozisyonGuncelEN: {
                        required: true,
                    },
                    SEOGuncel: {
                        required: true,
                    },
                    SEOGuncelEN: {
                        required: true,
                    }
                },
                messages: {
                    PozisyonGuncel: {
                        required: "Bu alan boş geçilemez."
                    },
                    PozisyonGuncelEN: {
                        required: "Bu alan boş geçilemez."
                    },
                    SEOGuncel: {
                        required: "Bu alan boş geçilemez."
                    },
                    SEOGuncelEN: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        

        function PopupGuncelle() {
            var form = new FormData();
            form.append("Id", $('#IdGuncel').val());
            form.append("Aktif", $('#AktifGuncel').val());
            form.append("ReferansNo", $('#ReferansNoGuncel').val());
            form.append("Pozisyon", $('#PozisyonGuncel').val());
            form.append("Sehir", $('#SehirGuncel').val());
            form.append("IsAlani", $('#IsAlaniGuncel').val());
            form.append("SEO", $('#SEOGuncel').val());
            form.append("SEOEN", $('#SEOGuncelEN').val());
            form.append("PozisyonTipi", $('#PozisyonTipiGuncel').val());
            form.append("Tarih", $('#TarihGuncel').val());
            form.append("PozisyonEN", $('#PozisyonGuncelEN').val());
            form.append("PozisyonTipiEN", $('#PozisyonTipiGuncelEN').val());
            form.append("IsAlaniEN", $('#IsAlaniGuncelEN').val());
            form.append("Detay", $('#DetayGuncel').summernote('code'));
            form.append("DetayEN", $('#DetayGuncelEN').summernote('code'));

            $.ajax({
                url: '@Url.Action("KariyerFirsatlariGuncel", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Kariyer Fırsatı Başarıyla Güncellendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                    else if (data.result == 2) {
                        swal.fire({
                            text: "Girdiğiniz SEO-TR bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })

                    }
                    else {
                        swal.fire({
                            text: "Girdiğiniz SEO-EN bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                }
            });
        }
        var habervalidator;

        function popupGuncelle() {
            if (habervalidator.form()) {
                PopupGuncelle();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }
    </script>
}

