﻿@model IEnumerable<Zemedya.Entity.Concrete.KurumsalEntities.Kurumsal>
@{
    ViewData["Title"] = "Kurumsal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="card card-custom">
        <div class="card-header flex-wrap-border-0 pt-6 pb-0">

            <div class="card-title">
                <h3 class="card-label font-size-h3-lg mb-7">
                    <i class="flaticon2-gear text-primary"></i>
                    Kurumsal Listesi
                </h3>
            </div>

           
        </div>
        <div class="card-body">
            <div class="example-preview">
                <table class="table table-striped table-hover table-bordered " id="dataTable" style="width:100%">
                    <thead>
                        <tr>

                            <th scope="col">Isim</th>

                            <th scope="col" style="width:50px;">Güncelle</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                         
                            <td>@item.Isim</td>
                           
                            <td>
                                <a data-id="@item.Id" data-toggle="modal" data-target="#kategoriGuncelle" class="guncelle"><i class=" flaticon-refresh text-warning icon-xl ml-5 btn"></i></a>
                            </td>
                           

                        </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="card-header" style="padding:0;">
                    <button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title mt-10 ml-10" id="exampleModalLongTitle">Kurumsal Bilgi Ekle</h4>
                    @if (ViewBag.en == "True")
                    {
                        <ul class="nav nav-tabs mt-2 float-right" id="myTab" role="tablist">
                            <li class="nav-item ">
                                <a class="nav-link active float-right h6" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">TR</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link float-right h6" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">EN</a>
                            </li>
                        </ul>
                    }

                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form method="post" id="haberkategoriform" enctype="multipart/form-data">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
                                
                                        <div class="form-group">
                                            <label>İsim</label>
                                            <input type="text" class="form-control" placeholder="İsim" name="Isim" id="Isim" />
                                        </div>
                                
                                  
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Ana Sayfa Metin</label>
                                            <textarea name="SEO" id="SEO" class="form-control" rows="5" style="height:250px;"></textarea>
                                        </div>
                               
                          

                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay</label>
                                    <textarea name="Detay" id="Detay" class="form-control" rows="5" style="height:250px;"></textarea>
                                </div>



                            </div>
                            <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                          
                                
                                        <div class="form-group">
                                            <label>İsim(EN)</label>
                                            <input type="text" class="form-control" placeholder="İsim(EN)" id="IsimEN" name="IsimEN" />

                                        </div>
                      
                           
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">SEO(EN)</label>
                                            <textarea name="SEOEN" id="SEOEN" class="form-control" rows="5" style="height: 250px;"></textarea>
                                        </div>
                              
                          


                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay(EN)</label>
                                    <textarea name="DetayEN" id="DetayEN" class="form-control" rows="5" style="height: 250px;"></textarea>
                                </div>
                            </div>
                            <div class="card-footer float-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <input type="submit" value="Kaydet" onclick="return kategoriEkle()" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>
    <div class="modal fade" id="kategoriGuncelle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="card-header" style="padding:0;">
                    <button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title mt-10 ml-10"> Güncelle</h4>
                    @if (ViewBag.en == "True")
                    {
                        <ul class="nav nav-tabs mt-2 float-right" id="myTab" role="tablist">
                            <li class="nav-item ">
                                <a class="nav-link active float-right h6" id="home-tab" data-toggle="tab" href="#trguncel" role="tab" aria-controls="trguncel" aria-selected="true">TR</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link float-right h6" id="profile-tab" data-toggle="tab" href="#enguncel" role="tab" aria-controls="enguncel" aria-selected="false">EN</a>
                            </li>
                        </ul>
                    }

                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form method="post" id="haberguncelleform" enctype="multipart/form-data">
                        <input type="hidden" id="IdGuncel" />
                        <input type="hidden" id="AktifGuncel" />
                        <input type="hidden" id="SıralamaNoGuncel" />
                        <div class="tab-content" id="guncellekategori">
                            <div class="tab-pane fade show active " id="trguncel" role="tabpanel" aria-labelledby="home-tab">
                               
                                
                                        <div class="form-group">
                                            <label>İsim</label>
                                            <input type="text" class="form-control" placeholder="İsim" name="IsimGuncel" id="IsimGuncel" />
                                        </div>
                                  
                                
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">SEO</label>
                                            <textarea id="SEOGuncel" name="SEOGuncel" class="form-control" rows="5" style="height: 250px;"></textarea>
                                        </div>
                             
                               


                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay</label>
                                    <textarea id="DetayGuncel" name="DetayGuncel" class="form-control" rows="5" style="height: 250px;"></textarea>
                                </div>

                            </div>
                            <div class="tab-pane fade " id="enguncel" role="tabpanel" aria-labelledby="profile-tab">
                                
                                        <div class="form-group">
                                            <label>İsim(EN)</label>
                                            <input type="text" class="form-control" placeholder="İsim(EN)" id="IsimGuncelEN" name="IsimGuncelEN" />

                                        </div>
                                    
                                    
                                        <div class="form-group">
                                            <label>SEO(EN)</label>
                                            <textarea id="SEOGuncelEN" name="SEOGuncelEN" class="form-control" rows="3" style="height: 250px;"></textarea>
                                        </div>
                                    
                                


                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Detay</label>
                                    <textarea id="DetayGuncelEN" name="DetayGuncelEN" class="form-control" rows="3" style="height: 250px;"></textarea>
                                </div>

                            </div>
                            <div class="card-footer float-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <input type="submit" value="Kaydet" onclick="return kategoriGuncelle()" class="btn btn-primary " />
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>

</div>


@section Javascript{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        $('#Detay').summernote();
        $('#DetayEN').summernote();
        $('#DetayGuncel').summernote();
        $('#DetayGuncelEN').summernote();
        $('#SEO').summernote();
        $('#SEOEN').summernote();
        $('#SEOGuncel').summernote();
        $('#SEOGuncelEN').summernote();

       

        

        $(document).ready(function () {
            $(".guncelle").on("click", function () {
                var kategoriId = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", kategoriId);
                $.ajax({
                    url: '@Url.Action("KurumsalGuncelle", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        aktif = data.aktif;
                        isim = data.isim;
                        sıralamaNo = data.sıralamaNo;
                        seo = data.seo;
                        isimEN = data.isimEN;
                        seoEN = data.seoEN;
                        detay = data.detay;
                        detayEN = data.detayEN;
                        $('#IsimGuncel').val(isim);
                        $('#IsimGuncelEN').val(isimEN);
                        $('#DetayGuncel').summernote('code', detay);
                        $('#DetayGuncelEN').summernote('code', detayEN);
                        $('#SEOGuncel').summernote('code', seo);
                        $('#SEOGuncelEN').summernote('code', seoEN);
                        $('#IdGuncel').val(kategoriId);
                        $('#AktifGuncel').val(aktif);
                    }
                });
            });
        });

        




        $(document).ready(function () {
            habervalidator = $("#haberkategoriform").validate({
                rules: {
                    Isim: {
                        required: true,
                    },
                    IsimEN: {
                        required: true,
                    },
                    SEO: {
                        required: true,
                    },
                    SEOEN: {
                        required: true,
                    }
                },
                messages: {
                    Isim: {
                        required: "Bu alan boş geçilemez."
                    },
                    IsimEN: {
                        required: "Bu alan boş geçilemez."
                    },
                    SEO: {
                        required: "Bu alan boş geçilemez."
                    },
                    SEOEN: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });

        function KategoriEkle() {
            var form = new FormData();
            form.append("Isim", $('#Isim').val());
            form.append("IsimEN", $('#IsimEN').val());
            form.append("Detay", $('#Detay').summernote('code'));
            form.append("DetayEN", $('#DetayEN').summernote('code'));
            form.append("SEO", $('#SEO').summernote('code'));
            form.append("SEOEN", $('#SEOEN').summernote('code'));

            $.ajax({
                url: '@Url.Action("KurumsalEkle", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Başarıyla Eklendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                    else if (data.result == 2) {
                        swal.fire({
                            text: "Girdiğiniz SEO-TR bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })

                    }
                    else {
                        swal.fire({
                            text: "Girdiğiniz SEO-EN bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                }
            });
        }
        var habervalidator;

        function kategoriEkle() {
            if (habervalidator.form()) {
                KategoriEkle();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }

        $(document).ready(function () {
            habervalidator2 = $("#haberguncelleform").validate({
                rules: {
                    IsimGuncel: {
                        required: true,
                    },
                    IsimGuncelEN: {
                        required: true,
                    },
                    SEOGuncel: {
                        required: true,
                    },
                    SEOGuncelEN: {
                        required: true,
                    }
                },
                messages: {
                    IsimGuncel: {
                        required: "Bu alan boş geçilemez."
                    },
                    IsimGuncelEN: {
                        required: "Bu alan boş geçilemez."
                    },
                    SEOGuncel: {
                        required: "Bu alan boş geçilemez."
                    },
                    SEOGuncelEN: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });

        function KategoriGuncelle() {
            var form = new FormData();
            form.append("Id", $('#IdGuncel').val());
            form.append("Aktif", $('#AktifGuncel').val());
            form.append("Isim", $('#IsimGuncel').val());
            form.append("IsimEN", $('#IsimGuncelEN').val());
            form.append("Detay", $('#DetayGuncel').summernote('code'));
            form.append("DetayEN", $('#DetayGuncelEN').summernote('code'));
            form.append("SEO", $('#SEOGuncel').summernote('code'));
            form.append("SEOEN", $('#SEOGuncelEN').summernote('code'));

            $.ajax({
                url: '@Url.Action("KurumsalGuncel", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Bilgiler Başarıyla Güncellendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                    else if (data.result == 2) {
                        swal.fire({
                            text: "Girdiğiniz SEO-TR bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })

                    }
                    else {
                        swal.fire({
                            text: "Girdiğiniz SEO-EN bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                }
            });
        }
        var habervalidator2;

        function kategoriGuncelle() {
            if (habervalidator2.form()) {
                KategoriGuncelle();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }
    </script>
}

