﻿@model IEnumerable<Zemedya.Entity.Concrete.VideoEntities.Video>
@{
    ViewData["Title"] = "Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="card card-custom">
        <div class="card-header flex-wrap-border-0 pt-6 pb-0">

            <div class="card-title">
                <h3 class="card-label font-size-h3-lg mb-7">
                    <i class="flaticon2-gear text-primary"></i>
                    Video Galeri
                </h3>
            </div>

            <div>
                <a data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary font-weight-bolder">
                    <i class="fas fa-plus"></i>	Yeni Ekle
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="example-preview">
                <table class="table table-striped table-hover table-bordered " id="dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">İsim</th>
                            <th scope="col">Başlık</th>
                            <th scope="col" style="width:50px;">Aktif</th>
                            <th scope="col" style="width:50px;">Güncelle</th>
                            <th scope="col" style="width:50px;">Sil</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Ad</td>
                                <td>@item.Baslik</td>
                                <td>
                                    @if (item.Aktif)
                                    {
                                        <a data-id="@item.Id" class="aktif btn btn-sm font-weight-bold btn-light-primary btn-inline ml-2">Aktif</a>
                                    }
                                    else
                                    {
                                        <a data-id="@item.Id" class="aktif btn btn-sm font-weight-bold btn-light-danger btn-inline ml-2">Pasif</a>
                                    }

                                </td>
                                <td>
                                    <a data-id="@item.Id" data-toggle="modal" data-target="#kategoriGuncelle" class="guncelle"><i class=" flaticon-refresh text-warning icon-xl ml-5 btn"></i></a>
                                </td>
                                <td>
                                    <a data-id="@item.Id" class="Sil btn flaticon-delete text-danger icon-xl ml-2"></a>
                                </td>

                            </tr>

                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="card-header" style="padding:0;">
                    <button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title mt-10 ml-10" id="exampleModalLongTitle">Video Ekle</h4>
                    @if (ViewBag.en == "True")
                    {
                        <ul class="nav nav-tabs mt-2 float-right" id="myTab" role="tablist">
                            <li class="nav-item ">
                                <a class="nav-link active float-right h6" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">TR</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link float-right h6" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">EN</a>
                            </li>
                        </ul>
                    }

                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form method="post" id="haberkategoriform" enctype="multipart/form-data">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">

                                <div class="form-group">
                                    <label>İsim</label>
                                    <input type="text" class="form-control" placeholder="İsim" name="Ad" id="Ad" />
                                </div>
                                <div class="form-group">
                                    <label>Başlık</label>
                                    <input type="text" class="form-control" placeholder="Başlık" name="Baslik" id="Baslik" />
                                </div>
                                <div class="form-group">
                                    <label>Video ID</label>
                                    <input type="text" class="form-control" placeholder="Video ID" name="VideoUrl" id="VideoUrl" />
                                </div>
                                <div class="form-group">
                                    <div class="mt-4">Görsel</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="Resim" height="160" width="160" src="~/img/null.png" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" id="gorsel" name="gorsel" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldır()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>

                                </div>

                            </div>
                            <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="form-group">
                                    <label>İsim(EN)</label>
                                    <input type="text" class="form-control" placeholder="İsim" name="AdEN" id="AdEN" />
                                </div>
                                <div class="form-group">
                                    <label>Başlık(EN)</label>
                                    <input type="text" class="form-control" placeholder="Başlık(EN)" name="BaslikEN" id="BaslikEN" />
                                </div>
                                <div class="form-group">
                                    <label>Video ID(EN)</label>
                                    <input type="text" class="form-control" placeholder="Video ID(EN)" name="VideoUrlEN" id="VideoUrlEN" />
                                </div>
                                <div class="form-group ">
                                    <div class="mt-4">Görsel(EN)</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="ResimEN" height="160" width="160" src="~/img/null.png" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" id="gorselEN" name="gorselEN" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselKaldırEN()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer float-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <input type="submit" value="Kaydet" onclick="return popupEkle()" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>
    <div class="modal fade" id="kategoriGuncelle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="card-header" style="padding:0;">
                    <button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title mt-10 ml-10">Video Güncelle</h4>
                    @if (ViewBag.en == "True")
                    {
                        <ul class="nav nav-tabs mt-2 float-right" id="myTab" role="tablist">
                            <li class="nav-item ">
                                <a class="nav-link active float-right h6" id="home-tab" data-toggle="tab" href="#trguncel" role="tab" aria-controls="trguncel" aria-selected="true">TR</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link float-right h6" id="profile-tab" data-toggle="tab" href="#enguncel" role="tab" aria-controls="enguncel" aria-selected="false">EN</a>
                            </li>
                        </ul>
                    }

                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form method="post" id="haberguncelleform" enctype="multipart/form-data">
                        <input type="hidden" id="IdGuncel" value="" />
                        <input type="hidden" id="AktifGuncel" />
                        <div class="tab-content" id="guncellekategori">
                            <div class="tab-pane fade show active " id="trguncel" role="tabpanel" aria-labelledby="home-tab">
                                <div class="form-group">
                                    <label>İsim</label>
                                    <input type="text" class="form-control" placeholder="İsim" name="AdGuncel" id="AdGuncel" />
                                </div>
                                <div class="form-group">
                                    <label>Başlık</label>
                                    <input type="text" class="form-control" placeholder="Başlık" name="BaslikGuncel" id="BaslikGuncel" />
                                </div>
                                <div class="form-group">
                                    <label>Video ID</label>
                                    <input type="text" class="form-control" placeholder="Video ID" name="VideoUrlGuncel" id="VideoUrlGuncel" />
                                </div>
                                <div class="form-group">
                                    <div class="mt-4">Görsel</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="ResimGuncel" height="160" width="160" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" id="gorselGuncel" name="GorselGuncel" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselGuncelKaldır()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>

                                </div>

                            </div>
                            <div class="tab-pane fade " id="enguncel" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="form-group">
                                    <label>İsim(EN)</label>
                                    <input type="text" class="form-control" placeholder="İsim" name="AdGuncelENGuncel" id="AdGuncelEN" />
                                </div>
                                <div class="form-group">
                                    <label>Başlık(EN)</label>
                                    <input type="text" class="form-control" placeholder="Başlık(EN)" name="BaslikGuncelEN" id="BaslikGuncelEN" />
                                </div>
                                <div class="form-group">
                                    <label>Video ID(EN)</label>
                                    <input type="text" class="form-control" placeholder="Video ID(EN)" name="VideoUrlGuncelEN" id="VideoUrlGuncelEN" />
                                </div>
                                <div class="form-group ">
                                    <div class="mt-4">Görsel(EN)</div>
                                    <div class="image-input image-input-outline mt-2">
                                        <img id="ResimGuncelEN" height="160" width="160" />
                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" id="gorselGuncelEN" name="GorselGuncelEN" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>
                                    </div>
                                    <div class="mt-0 pt-0 ml-48">
                                        <a onclick="gorselGuncelKaldırEN()" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow mt-lg-0 pt-lg-0 ml-7"><i class="ki ki-bold-close icon-xs text-muted"></i></a>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer float-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                <input type="submit" value="Kaydet" onclick="return popupGuncelle()" class="btn btn-primary " />
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>

</div>

@section Javascript{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        $(document).ready(function () {
            $(".Sil").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                Swal.fire({
                title: "Video silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                    url: '@Url.Action("VideoSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Video Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                });
                }
            });
            });
        });


        $(document).ready(function () {
            $(".guncelle").on("click", function () {
                var popupId = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", popupId);
                $.ajax({
                    url: '@Url.Action("VideoGuncelle", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        aktif = data.aktif;
                        ad = data.ad;
                        adEN = data.adEN;
                        videourl = data.videourl;
                        videourlEN = data.videourlEN;
                        baslik = data.baslik;
                        baslikEN = data.baslikEN;
                        gorsel = data.gorsel;
                        gorselEN = data.gorselEN;
                        $('#AdGuncel').val(ad);
                        $('#AdGuncelEN').val(adEN);
                        $('#VideoUrlGuncel').val(videourl);
                        $('#VideoUrlGuncelEN').val(videourlEN);
                        $('#BaslikGuncel').val(baslik);
                        $('#BaslikGuncelEN').val(baslikEN);
                        $("#ResimGuncel").attr('src', '/img/' + gorsel);
                        $("#ResimGuncelEN").attr('src', '/img/' + gorselEN);
                        $('#IdGuncel').val(popupId);
                        $('#AktifGuncel').val(aktif);
                    }
                });
            });
        });

        $(document).ready(function () {
            $(".aktif").on("click", function () {
                var Id = $(this).attr("data-id");
                var data = new FormData();
                data.append("Id", Id);
                $.ajax({
                    url: '@Url.Action("PasifeCevirVideo", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        window.location.reload();
                    }
                });
            });
        });


        function gorselKaldır() {
            $("#Resim").attr('src', '/img/null.png');
            $('#Gorsel').val("");
        };
        function gorselKaldırEN() {
            $("#ResimEN").attr('src', '/img/null.png');
            $('#GorselEN').val("");
        };

        function gorselGuncelKaldır() {
                var data = new FormData();
            data.append("Id", $('#IdGuncel').val());
            data.append("sayfa", "video");
            data.append("dil", "tr");
                Swal.fire({
                title: "Görsel silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                    url: '@Url.Action("GorselSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Görsel Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                        $("#ResimGuncel").attr('src', '/img/null.png');
                        $('#GorselGuncel').val("");
                    }
                });
                }
            });

        };

        function gorselGuncelKaldırEN() {
                var data = new FormData();
            data.append("Id", $('#IdGuncel').val());
            data.append("sayfa", "video");
            data.append("dil", "en");
                Swal.fire({
                title: "Görsel silinecek, Emin misiniz?",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "İptal",
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                    url: '@Url.Action("GorselSil", "Panel")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        swal.fire({
                            text: "Görsel Başarıyla Silindi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                        $("#ResimGuncelEN").attr('src', '/img/null.png');
                        $('#GorselGuncelEN').val("");
                    }
                });
                }
            });

        };

        $(document).ready(function () {

            $("#gorsel").change(function (e) {

                $("#Resim").removeAttr('src');
                $("#Resim").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#gorselEN").change(function (e) {

                $("#ResimEN").removeAttr('src');
                $("#ResimEN").attr('src', URL.createObjectURL(e.target.files[0]));
            });

            $("#gorselGuncel").change(function (e) {

                $("#ResimGuncel").removeAttr('src');
                $("#ResimGuncel").attr('src', URL.createObjectURL(e.target.files[0]));
            });
            $("#gorselGuncelEN").change(function (e) {

                $("#ResimGuncelEN").removeAttr('src');
                $("#ResimGuncelEN").attr('src', URL.createObjectURL(e.target.files[0]));
            });
        });


        $(document).ready(function () {
            habervalidator2 = $("#haberkategoriform").validate({
                rules: {
                    Isim: {
                        required: true,
                    },
                    IsimEN: {
                        required: true,
                    }
                },
                messages: {
                    Isim: {
                        required: "Bu alan boş geçilemez."
                    },
                    IsimEN: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });

        function PopupEkle() {
            var gorsel = $("#gorsel").get(0).files;
            var gorselEN = $('#gorselEN').get(0).files;
            var form = new FormData();
            form.append("Ad", $('#Ad').val());
            form.append("AdEN", $('#AdEN').val());
            form.append("Baslik", $('#Baslik').val());
            form.append("BaslikEN", $('#BaslikEN').val());
            form.append("VideoUrl", $('#VideoUrl').val());
            form.append("VideoUrlEN", $('#VideoUrlEN').val());
            form.append("resim", gorsel[0]);
            form.append("resimEN", gorselEN[0]);


            $.ajax({
                url: '@Url.Action("VideoEkle", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Video Başarıyla Eklendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                    else {
                        swal.fire({
                            text: "Girdiğiniz Ad bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })

                    }
                }
            });
        }
        var habervalidator2;

        function popupEkle() {
            if (habervalidator2.form()) {
                PopupEkle();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }

        $(document).ready(function () {
            habervalidator = $("#haberguncelleform").validate({
                rules: {
                    IsimGuncel: {
                        required: true,
                    },
                    IsimGuncelEN: {
                        required: true,
                    }
                },
                messages: {
                    IsimGuncel: {
                        required: "Bu alan boş geçilemez."
                    },
                    IsimGuncelEN: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });

        function PopupGuncelle() {
            var gorsel = $("#gorselGuncel").get(0).files;
            var gorselEN = $('#gorselGuncelEN').get(0).files;
            var form = new FormData();
            form.append("Ad", $('#AdGuncel').val());
            form.append("AdEN", $('#AdGuncelEN').val());
            form.append("Baslik", $('#BaslikGuncel').val());
            form.append("BaslikEN", $('#BaslikGuncelEN').val());
            form.append("VideoUrl", $('#VideoUrlGuncel').val());
            form.append("VideoUrlEN", $('#VideoUrlGuncelEN').val());
            form.append("resim", gorsel[0]);
            form.append("resimEN", gorselEN[0]);
            form.append("Id", $('#IdGuncel').val());
            form.append("Aktif", $('#AktifGuncel').val());

            $.ajax({
                url: '@Url.Action("VideoGuncel", "Panel")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Video Başarıyla Güncellendi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }
                    else {
                        swal.fire({
                            text: "Girdiğiniz Ad bilgisi sistemde kayıtlıdır.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })

                    }
                }
            });
        }
        var habervalidator;

        function popupGuncelle() {
            if (habervalidator.form()) {
                PopupGuncelle();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }
    </script>
}

