﻿@model Zemedya.Model.DTO.MevcutSayfalarDTOs.MevcutSayfalarDTO

<div class="topbar-item ">
    <a href="/Panel/Index" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">ANA SAYFA</a>
</div>


<div class="topbar-item ">
    <a href="/Panel/Kurumsal" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">HAKKIMIZDA</a>
</div>

<div class="topbar-item ">
    <a href="/Panel/Hizmetlerimiz" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">HİZMETLERİMİZ</a>
</div>
<div class="topbar-item ">
    <a href="/Panel/KariyerFirsatlari" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">KARİYER FIRSATLARI</a>
</div>

<div class="topbar-item ">
    <a href="/Panel/blog-islemleri" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">BLOG</a>
</div>











<div class="topbar-item ">
    <a href="/Panel/Iletisim" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">İLETİŞİM</a>
</div>

<div class="topbar-item ">
    <a href="/Panel/Ayarlar" class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1">AYARLAR</a>
</div>


<div class="topbar-item float-right">
    <a class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1" href="/Panel/Yoneticiler">YÖNETİCİLER</a>
</div>

<div class="topbar-item float-right">
    <a class="font-size-h6 btn btn-primary btn-hover-transparent-white btn-lg mr-1 float-right" href="/Panel/CıkısYap"><i class="flaticon-logout"></i>Çıkış Yap</a>
</div>
