﻿@model Zemedya.Model.VM.Page.NavbarVM




<header class="header header-sticky" id="navbarEN">
    <div class="container">
        <div class="row">
            <div class="navbar-top d-none d-lg-block" style=" width: 100%;">
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- navbar top Left-->
                        <div class="d-flex align-items-center">
                            <a href="/en" class="navbar-brand mr-3"><img src="~/osen/assets/images/osen-kariyer-logo.png" alt="Osen Kariyer"></a>
                        </div>

                        <!-- navbar top Right-->
                        <div class="d-flex align-items-center">

                            <!-- top link -->
                            <ul class="nav">
                                <li class="nav-item"> <a class="nav-link" href="/kariyer-basvuru" style="color: #ed7d31;">Send CV</a> </li>
                                <li class="nav-item"> <a class="LanguageTR nav-link" href="/">TR</a> </li>
                                <li class="nav-item"> <a class="LanguageEN nav-link" href="/en">EN</a> </li>



                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg" style="">
                <a href="/en" class="navbar-brand mr-3"><img src="~/osen/assets/images/osen-kariyer-logo.svg" alt="Osen Kariyer" class="d-block d-sm-none"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">

                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav">


                        <li class="nav-item">
                            <a class="nav-link" href="/en">Home</a>
                        </li>
                        <li class="nav-item">
                            @foreach (var item in Model.KurumsalListesi)
                            {
                                <a class="nav-link" href="/osen/about-us">@item.IsimEN</a>
                            }
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Services</a>
                            <ul class="dropdown-menu">
                                @foreach (var item in Model.DuyuruListesi)
                                {
                                    <li><a class="dropdown-item" href="/hizmetlerimiz/@item.SEOEN">@item.IsimEN </a></li>
                                }
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/career-opportunities">Career Opportunities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blogs">Blog</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/iletisim">Contact</a>

                        </li>
                        <li class="nav-item d-block d-sm-none">
                            <a class="nav-link" href="/kariyer-basvuru" style="color: #ed7d31 !important;">Send CV </a>

                        </li>
                        <li class="nav-item d-block d-sm-none">
                            <a class="LanguageTR nav-link dil-renk" href="/">TR</a>
                        </li>
                        <li class="nav-item d-block d-sm-none">
                            <a class="LanguageEN nav-link dil-renk" href="/en">EN</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
</header>
<header class="header header-sticky" id="navbarTR">
    <div class="container">
        <div class="row">
            <div class="navbar-top d-none d-lg-block" style=" width: 100%;">
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- navbar top Left-->
                        <div class="d-flex align-items-center">
                            <a href="/" class="navbar-brand mr-3"><img src="~/osen/assets/images/osen-kariyer-logo.png" alt="Osen Kariyer"></a>
                        </div>

                        <!-- navbar top Right-->
                        <div class="d-flex align-items-center">

                            <!-- top link -->
                            <ul class="nav">
                                <li class="nav-item"> <a class="nav-link" href="/kariyer-basvuru" style="color: #ed7d31;">CV Gönder</a> </li>
                                <li class="nav-item"> <a class="LanguageTR nav-link" href="/">TR</a> </li>
                                <li class="nav-item"> <a class="LanguageEN nav-link" href="/en">EN</a> </li>



                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg" style="">
                <a href="/" class="navbar-brand mr-3"><img src="~/osen/assets/images/osen-kariyer-logo.svg" alt="Osen Kariyer" class="d-block d-sm-none"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">

                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav">


                        <li class="nav-item">
                            <a class="nav-link" href="/">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            @foreach (var item in Model.KurumsalListesi)
                            {
                            <a class="nav-link" href="/osen/hakkimizda">@item.Isim</a>
                            }
                        </li>
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hizmetlerimiz</a>
                            <ul class="dropdown-menu">
                                @foreach (var item in Model.DuyuruListesi)
                                {
                                    <li><a class="dropdown-item" href="/hizmetlerimiz/@item.SEO">@item.Isim </a></li>
                                }
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/kariyer-firsatlari">Kariyer Fırsatları</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Blog</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/iletisim">İletişim</a>

                        </li>
                        <li class="nav-item d-block d-sm-none">
                            <a class="nav-link" href="/kariyer-basvuru" style="color: #ed7d31 !important;">CV Gönder</a>

                        </li>
                        <li class="nav-item d-block d-sm-none">
                            <a class="LanguageTR nav-link dil-renk" href="/">TR</a>
                        </li>
                        <li class="nav-item d-block d-sm-none">
                            <a class="LanguageEN nav-link dil-renk" href="/en">EN</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
</header>







