﻿@model IEnumerable<Zemedya.Entity.Concrete.KariyerFirsatlariEntities.KariyerFirsati>
@{
    ViewData["Title"] = "KariyerBasvuru";
    ViewData["description"] = ViewBag.description;
    ViewData["googledogrulama"] = ViewBag.googleDogrulama;
    ViewData["favicon"] = ViewBag.favicon;
    ViewData["googleanalytics"] = ViewBag.googleanalytics;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section class="hero pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-white d-none d-lg-block" style="background-image: url(/osen/assets/images/gorsel.jpeg); padding: 90px; background-position-y: -100px; background-position-x: -100px;">

                <h1 class="mb-2 text-shadow">Kariyer Başvuru</h1>

            </div>
            <div class="col-md-12 col-lg-12 text-white d-block d-sm-none" style="background-image: url(/osen/assets/images/gorsel-mobil-alt-sayfa.jpeg); padding: 60px;">

                <h1 class="mb-2 text-shadow">Kariyer Başvuru</h1>

            </div>
        </div>
    </div>
</section>

<section>
    <form id="Emailform" method="post">
        <div class="container">
            <div class="row">

                <div class="col-lg-8">
                    <div class="row gutter-2">
                        <div class="form-group col-md-6">
                            <label>AD *</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group col-md-6">
                            <label>SOYAD *</label>
                            <input type="text" class="form-control" id="surname" name="surname">
                        </div>
                        <div class="form-group col-md-6">
                            <label>TELEFON *</label>
                            <input type="tel" class="form-control" id="phone" name="phone">
                        </div>
                        <div class="form-group col-md-6">
                            <label>EMAİL *</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group col-12">
                            <label for="inputNameSecond">KONU</label>
                            <input type="text" class="form-control" id="subject" name="subject" value="@Model.LastOrDefault().Pozisyon">
                        </div>
                        <div class="form-group col-12">
                            <label for="inputTextarea">MESAJ</label>
                            <textarea class="form-control" rows="4" id="message" name="message"></textarea>
                        </div>
                        <div class="col-12 pb-0">
                            <label class="mb-0">CV *</label>
                        </div>
                        <div class="col-12"> <input type="file" class="" id="file" name="file"> </div>
                        <div class="col-12">
                            <p class="small">* işaretli alanların doldurulası zorunludur.</p>
                        </div>
                        <div class="col-12">
                            <p class="small">Yükleyebileceğiniz dosya en fazla 2 MB boyutunda ve <strong> PDF</strong>, <strong> DOC</strong> veya <strong> DOCX</strong> formatlarında olabilir.</p>
                        </div>
                        <div class="col-12">
                            <input type="checkbox" class="" id="contract" name="contract">
                            <label for="contract" style="padding-left: 23px;margin-top: -16px;">
                                <strong class="black-text">Kişisel Veri Kaydı Onay Formu *</strong>
                                <p>İş bulma ve yerleştirme kapsamında, kendi yararım için tarafıma danışmanlık hizmeti sunan Osen Kariyer'in, işbu danışmanlık hizmeti dahilinde sosyal medya veya iş bulma konusunda hizmet veren her türlü mecrada ve internet mecrasında bulunan özgeçmişimi kullanmaya, işbu özgeçmişin içinde bulunan kişisel verilerimin ve varsa hassas kişisel verilerimin sadece iş bulma ve yerleştirme kapsamındaki danışmanlık hizmeti amacıyla Türkiye ve/veya yurt dışında kaydedilmesine, kullanılmasına, aktarılmasına ve işlenmesine 6698 sayılı Kişisel Verilerin Korunması Kanunu’na uygun olarak açıkça muvafakat ederim. </p>

                                <p>
                                    Ayrıca Osen Kariyer tarafından kaydedilmesine, kullanılmasına, aktarılmasına ve işlenmesine dair verdiğim açık muvafakate rağmen,  Osen Kariyer'in veri tabanına kaydedilmiş ve işlenmiş kişisel verilerimin ve varsa hassas kişisel verilerimin en fazla 10 yıl süreyle saklanacağını, ancak talebim üzerine kişisel verilerimin ve varsa hassas kişisel verilerimin anonimleştirileceği veya tamamen veri tabanından silineceği konusunda açıkça bilgilendirildim.


                                </p>
                            </label>
                        </div>
                        <div class="col-12">
                            <button onclick="return epostaGonder()" class="btn btn-primary mt-2">GÖNDER</button>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <aside>
                        <h5 class="text-primary" style="text-align: center;font-weight:700;">KARİYER FIRSATLARI</h5>
                        @*<div class="jobs">
                            @foreach (var item in Model)
                            {
                                if (item != Model.LastOrDefault())
                                {
                                    if (item != null)
                                    {
                                        <div class="item">
                                            <a href="/kariyer-firsatlari/@item.SEO">
                                                <p class="title">@item.Pozisyon (@item.Sehir)</p>
                                                <p class="">@item.IsAlani - @item.Sehir</p>
                                                <p class="date">@item.Tarih.Day-@item.Tarih.Month-@item.Tarih.Year</p>
                                            </a>
                                        </div>
                                    }
                                }

                            }

                        </div>*@

                        <ul class="list-group">
                            <li class="list-group-item" style="text-align: center; background-color: #103948;">
                                <a href="/kariyer-firsatlari" class="eyebrow action">Tümünü Gör</a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>

        </div>
    </form>

</section>

@section Javascript{
    <script type="text/javascript">
        $(document).ready(function () {
            habervalidator = $("#Emailform").validate({
                rules: {
                    name: {
                        required: true,
                    },
                    contract: {
                        required: true,
                    },
                    surname: {
                        required: true,
                    },
                    email: {
                        required: true,
                        email: true,
                    },
                    phone: {
                        required: true,
                    },
                    subject: {
                        required: true,
                    },
                    message: {
                        required: true,
                    }
                },
                messages: {
                    name: {
                        required: "Bu alan boş geçilemez."
                    },
                    contract: {
                        required: "Bu alan boş geçilemez."
                    },
                    surname: {
                        required: "Bu alan boş geçilemez."
                    },
                    phone: {
                        required: "Bu alan boş geçilemez."
                    },
                    email: {
                        required: "Bu alan boş geçilemez.",
                        email : "Lütfen geçerli bir e-posta adresi giriniz."
                    },
                    subject: {
                        required: "Bu alan boş geçilemez."
                    },
                    message: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });

        function EpostaGonder() {
            var file = $("#file").get(0).files;
            var form = new FormData();
            form.append("EpostaAdı", $('#email').val());
            form.append("Ad", $('#name').val());
            form.append("Soyad", $('#surname').val());
            form.append("Konu", $('#subject').val());
            form.append("Mesaj", $('#message').val());
            form.append("Telefon", $('#phone').val());
            form.append("dosya", file[0]);

            $.ajax({
                url: '@Url.Action("EmailGonder", "Page")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Mesajınız başarıyla gönderildi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                    else {
                        swal.fire({
                            text: "Mesaj Gönderilemedi.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                }
            });
        }

        var habervalidator;

        function epostaGonder() {
            if (habervalidator.form()) {
                EpostaGonder();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }
    </script>
}

