﻿@model IEnumerable<Zemedya.Entity.Concrete.EtkinlikEntities.Etkinlik>
@{
    ViewData["Title"] = "Blog";
    ViewData["description"] = ViewBag.description;

    ViewData["googledogrulama"] = ViewBag.googleDogrulama;
    ViewData["favicon"] = ViewBag.favicon;
    ViewData["googleanalytics"] = ViewBag.googleanalytics;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section class="hero pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-white d-none d-lg-block" style="background-image: url(/osen/assets/images/gorsel.jpeg); padding: 90px; background-position-y: -100px; background-position-x: -100px;">

                <h1 class="mb-2 text-shadow">Blog</h1>

            </div>
            <div class="col-md-12 col-lg-12 text-white d-block d-sm-none" style="background-image: url(/osen/assets/images/gorsel-mobil-alt-sayfa.jpeg); padding: 60px;">

                <h1 class="mb-2 text-shadow">Blog</h1>

            </div>
        </div>
    </div>
</section>

<section class="pt-5">
    <div class="container">



        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-md-3">
                    <div class="blog-card" style="margin-bottom: 25px;">
                        <div class="blog-card_img">
                            <a href="/blog/@item.SEO" class="card card-equal equal-50 equal-md-100 card-scale vitrin-gorsel" style="border-radius: 10px;">
                                <span class="image image-overlay" style="background-image: url(/img/@item.Gorsel)"></span>
                            </a>
                        </div>
                        <div class="blog-card_body py-2">
                            <h5><a style=" color: black;" href="/blog/@item.SEO">@item.Isim</a></h5>
                            <p style="font-size: 0.9rem;">@item.Ozet</p>
                        </div>
                        <div class="blog-card_footer"><a href="/blog/@item.SEO">Devamını Oku →</a></div>
                    </div>
                </div>
            }
           

        </div>
    </div>


</section>

