﻿@model Zemedya.Model.DTO.DuyuruDTOs.DuyuruDTO
@{
    @if (ViewBag.en == "True")
    {
        ViewData["Title"] = Model.IsimEN;
        ViewData["description"] = ViewBag.descriptionEN;
    }
    else
    {
        ViewData["Title"] = Model.Isim;
        ViewData["description"] = ViewBag.description;
    }



    ViewData["googledogrulama"] = ViewBag.googleDogrulama;
    ViewData["favicon"] = ViewBag.favicon;
    ViewData["googleanalytics"] = ViewBag.googleanalytics;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}
@if (ViewBag.en == "True")
{
<section class="hero pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-white d-none d-lg-block" style="background-image: url(/osen/assets/images/gorsel.jpeg); padding: 90px; background-position-y: -100px; background-position-x: -100px;">

                <h1 class="mb-2 text-shadow">@Model.IsimEN</h1>

            </div>
            <div class="col-md-12 col-lg-12 text-white d-block d-sm-none" style="background-image: url(/osen/assets/images/gorsel-mobil-alt-sayfa.jpeg); padding: 60px;">

                <h1 class="mb-2 text-shadow">@Model.IsimEN</h1>

            </div>
        </div>
    </div>
</section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mr-auto">
                    @Html.Raw(Model.DetayEN)

                    @*<p><br /><br /><a href="mailto:info@osenkariyer.com" class="eyebrow underline action">@Model.IsimEN için bize ulaşın</a> </p>*@



                </div>

            </div>

        </div>
    </section>
}
else
{
<section class="hero pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-white d-none d-lg-block" style="background-image: url(/osen/assets/images/gorsel.jpeg); padding: 90px; background-position-y: -100px; background-position-x: -100px;">

                <h1 class="mb-2 text-shadow">@Model.Isim</h1>

            </div>
            <div class="col-md-12 col-lg-12 text-white d-block d-sm-none" style="background-image: url(/osen/assets/images/gorsel-mobil-alt-sayfa.jpeg); padding: 60px;">

                <h1 class="mb-2 text-shadow">@Model.Isim</h1>

            </div>
        </div>
    </div>
</section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mr-auto">
                    @Html.Raw(Model.Detay)

                    @*<p><br /><br /><a href="mailto:info@osenkariyer.com" class="eyebrow underline action">@Model.Isim için bize ulaşın</a> </p>*@



                </div>

            </div>

        </div>
    </section>
}

