﻿@model Zemedya.Model.DTO.IletisimDTOs.IletisimDTO
@{
    ViewData["Title"] = "İletişim";
    ViewData["description"] = ViewBag.description;
    ViewData["googledogrulama"] = ViewBag.googleDogrulama;
    ViewData["favicon"] = ViewBag.favicon;
    ViewData["googleanalytics"] = ViewBag.googleanalytics;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section class="hero pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-white d-none d-lg-block" style="background-image: url(/osen/assets/images/gorsel.jpeg); padding: 90px; background-position-y: -100px; background-position-x: -100px;">

                <h1 class="mb-2 text-shadow">İletişim</h1>

            </div>
            <div class="col-md-12 col-lg-12 text-white d-block d-sm-none" style="background-image: url(/osen/assets/images/gorsel-mobil-alt-sayfa.jpeg); padding: 60px;">

                <h1 class="mb-2 text-shadow">İletişim</h1>

            </div>
        </div>
    </div>
</section>



<section>
    <div class="container">
        <div class="row gutter-4">
            <div class="col-lg-4">
                <h2 class="font-weight-light mb-3"><b>İletişim</b></h2>
                <div class="row">
                    <div class="col-12">
                        @if (Model.Adres != null)
                        {
                            <span class="eyebrow mb-0">ADRES</span>
                            <p class="lead text-dark">@Model.Adres</p>
                        }

                    </div>
                    <div class="col-12 mt-2">
                        @if (Model.Telefon != null)
                        {
                            <span class="eyebrow">TELEFON</span>
                            <p class="lead my-1 text-dark">
                                @Model.Telefon
                            </p>
                        }
                        @if (Model.Telefon2 != null)
                        {
                            <span class="eyebrow">TELEFON</span>
                            <p class="lead my-1 text-dark">
                                @Model.Telefon2
                            </p>
                        }
                        @if (Model.Fax != null)
                        {
                            <span class="eyebrow">FAKS</span>
                            <p class="lead my-1 text-dark">
                                @Model.Fax
                            </p>
                        }
                        @if (Model.Email != null)
                        {
                            <span class="eyebrow">EMAİL</span>
                            <p>
                                <a style="color: #103948; " href="mailto:info@osenkariyer.com" class="eyebrow underline action">@Model.Email</a>
                            </p>
                        }



                    <div class="d-flex">
                        @if (Model.Ayarlar.Facebook != null)
                        {
                            <a style="color: #103948; " class="adres-social" href="@Model.Ayarlar.Facebook"><i class="icon-facebook-o"></i></a>
                        }
                        @if (Model.Ayarlar.Twitter != null)
                        {
                            <a style="color: #103948; " class="adres-social" href="@Model.Ayarlar.Twitter"><i class="icon-twitter-o"></i></a>
                        }
                        @if (Model.Ayarlar.Linkedin != null)
                        {
                            <a style="color: #103948; " class="adres-social" href="@Model.Ayarlar.Linkedin"><i class="icon-linkedin-o"></i></a>
                        }
                        @if (Model.Ayarlar.Instagram != null)
                        {
                            <a style="color: #103948; " class="adres-social" href="@Model.Ayarlar.Instagram"><i class="icon-instagram"></i></a>
                        }



                    </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-8 pl-lg-5">
                <form id="Emailform" method="post">
                    <div class="row gutter-2">
                        <div class="form-group col-md-6">

                            <select class="form-control kurumsal" id="kurumsal" name="kurumsal">
                                <option selected="selected" value="Bireysel">Bireysel</option>
                                <option value="Kurumsal">Kurumsal</option>
                            </select>
                        </div>
                       
                        <div id="kurumsalDiv" class="row col-md-12">
                        </div>

                        <div class="form-group col-md-6">
                            <label>AD *</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group col-md-6">
                            <label>SOYAD *</label>
                            <input type="text" class="form-control" id="surname" name="surname">
                        </div>
                        <div class="form-group col-md-6">
                            <label>TELEFON *</label>
                            <input type="tel" class="form-control" id="phone" name="phone">
                        </div>
                        <div class="form-group col-md-6">
                            <label>EMAİL *</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group col-12">
                            <label for="inputNameSecond">KONU *</label>
                            <input type="text" class="form-control" id="subject" name="subject">
                        </div>
                        <div class="form-group col-12">
                            <label for="inputTextarea">MESAJ *</label>
                            <textarea class="form-control" rows="4" id="message" name="message"></textarea>
                        </div>
                        <div class="col-12">
                            <p class="small">* işaretli alanların doldurulası zorunludur.</p>
                        </div>
                        <div class="col-12">
                            <button onclick="return epostaGonder()" class="btn btn-primary mt-2">GÖNDER</button>
                        </div>
                    </div>
                </form>
                
            </div>
            

        </div>
    </div>
</section>


@section Javascript{
    <script type="text/javascript">
        $(".kurumsal").change(function () {
            var value = $('#kurumsal').val();
            if (value == "Kurumsal") {
                $("#kurumsalDiv").append(" <div class='form-group col-md-6' id='div1'><label> KURUM ADI</label><input type='text' class='form-control' id='kurumAdi' name='kurumAdi'></div><div class='form-group col-md-6' id='div2' > <label>POZİSYON</label><input type='text' class='form-control' id='kurumsalpozisyon' name='kurumsalpozisyon'></div>");
            }
            else {
                document.getElementById("div1").remove();
                document.getElementById("div2").remove();
            }
            
        });

        $(document).ready(function () {
            habervalidator = $("#Emailform").validate({
                rules: {
                    name: {
                        required: true,
                    },
                    surname: {
                        required: true,
                    },
                    email: {
                        required: true,
                        email: true,
                    },
                    phone: {
                        required: true,
                    },
                    subject: {
                        required: true,
                    },
                    message: {
                        required: true,
                    }
                },
                messages: {
                    name: {
                        required: "Bu alan boş geçilemez."
                    },
                    surname: {
                        required: "Bu alan boş geçilemez."
                    },
                    phone: {
                        required: "Bu alan boş geçilemez."
                    },
                    email: {
                        required: "Bu alan boş geçilemez.",
                        email : "Lütfen geçerli bir e-posta adresi giriniz."
                    },
                    subject: {
                        required: "Bu alan boş geçilemez."
                    },
                    message: {
                        required: "Bu alan boş geçilemez."
                    }
                }
            });
        });

        function EpostaGonder() {
           
            var form = new FormData();
            form.append("EpostaAdı", $('#email').val());
            form.append("Ad", $('#name').val());
            form.append("Soyad", $('#surname').val());
            form.append("Konu", $('#subject').val());
            form.append("Mesaj", $('#message').val());
            form.append("Telefon", $('#phone').val());
            form.append("kurumsal", $('#kurumsal').val());
            var kurumsalValue = $('#kurumsal').val();
            if (kurumsalValue == "Kurumsal") {
                form.append("kurumAdi", $('#kurumAdi').val());
                form.append("kurumsalpozisyon", $('#kurumsalpozisyon').val());
            }
            
            

            $.ajax({
                url: '@Url.Action("EmailGonder", "Page")',
                type: "POST",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    if (data.result == 1) {
                        swal.fire({
                            text: "Mesajınız başarıyla gönderildi.",
                            icon: "success",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                    else {
                        swal.fire({
                            text: "Mesaj Gönderilemedi.",
                            icon: "error",
                            buttonsStyling: true,
                            confirmButtonText: "Tamam",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        })
                    }
                }
            });
        }

        var habervalidator;

        function epostaGonder() {
            if (habervalidator.form()) {
                EpostaGonder();
                return false;
            }
            else {
                swal.fire({
                    text: "Lütfen bilgileri eksiksiz giriniz.",
                    icon: "error",
                    buttonsStyling: true,
                    confirmButtonText: "Tamam",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                })


                return false;
            }
        }
    </script>
}
