﻿@model IEnumerable<Zemedya.Entity.Concrete.DuyuruEntities.Duyuru>
@{
    ViewData["Title"] = "IsverenBasvuru";
    ViewData["description"] = ViewBag.description;
    ViewData["googledogrulama"] = ViewBag.googleDogrulama;
    ViewData["favicon"] = ViewBag.favicon;
    ViewData["googleanalytics"] = ViewBag.googleanalytics;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section class="hero pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-white d-none d-lg-block" style="background-image: url(/osen/assets/images/gorsel.jpeg); padding: 90px; background-position-y: -100px; background-position-x: -100px;">

                <h1 class="mb-2 text-shadow">İş Verenler</h1>

            </div>
            <div class="col-md-12 col-lg-12 text-white d-block d-sm-none" style="background-image: url(/osen/assets/images/gorsel-mobil-alt-sayfa.jpeg); padding: 60px;">

                <h1 class="mb-2 text-shadow">İş Verenler</h1>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">

        <div class="row align-items-center">
            <div class="col-md-6 mr-auto">
                <h3 class="mt-2" style="color: #ED7D31; font-weight: bold;">İş ortağınız olalım!</h3>
                <b>
                    <p font-family: 'Roboto' ;
                       font-size: initial;
                       font-weight: 500;>
                        Seçme ve yerleştirme, Koçluk veya İnsan Kaynakları Sistemleri Danışmanlık hizmetlerimiz hakkında detaylı bilgi almak için yandaki formumuzu doldurmanızı rica ederiz.
                    </p>
                </b>
               
            </div>
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item mt-3" style="text-align: center; border-radius: 5px; background-color: #ED7D31;">

                        <a href="/iletisim" class="eyebrow">Bize ulaşın!</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-lg-12 mr-auto">

            <div style="width: 100%; height: 20px; border-bottom: 1px solid #ED7D31; text-align: center;margin-bottom: 20px;">
                <span style="font-size: 25px; padding: 0 20px;background-color: #fff;"> <strong>Hizmetlerimiz</strong></span>
            </div>

            
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 mb-1">
                            <a style="width:100% !important; color:aliceblue; background-color: #103948; " class="btn btn-md btn-isarayan" href="/hizmetlerimiz/@item.SEO"> @item.Isim </a>
                        </div>
                    }










                </div>

            



        </div>

    </div>
</section>




