﻿@model Zemedya.Model.DTO.KariyerFirsatiDTOs.KariyerFirsatiDTO
@{
    @if (ViewBag.en == "True")
    {
        ViewData["Title"] = "Career Detail";
        ViewData["description"] = ViewBag.descriptionEN;
    }
    else
    {
        ViewData["Title"] = "Kariyer Detay";
        ViewData["description"] = ViewBag.description;
    }



    ViewData["googledogrulama"] = ViewBag.googleDogrulama;
    ViewData["favicon"] = ViewBag.favicon;
    ViewData["googleanalytics"] = ViewBag.googleanalytics;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}
@if (ViewBag.en == "True")
{

    <section class="hero pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 text-white d-none d-lg-block" style="background-image: url(/osen/assets/images/gorsel.jpeg); padding: 90px; background-position-y: -100px; background-position-x: -100px;">

                    <h1 class="mb-2 text-shadow">Career Detail</h1>

                </div>
                <div class="col-md-12 col-lg-12 text-white d-block d-sm-none" style="background-image: url(/osen/assets/images/gorsel-mobil-alt-sayfa.jpeg); padding: 60px;">

                    <h1 class="mb-2 text-shadow">Career Detail</h1>

                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">


                <div class="col-lg-8" style="border: 2px solid #cecece; padding: 10px; border-radius: 20px;">
                    <div class="row mt-1">
                        <div class="col-lg-12">
                            <center>

                                <h2 style="width: 40%; border-bottom: 2px solid #ED7D31; text-align: center;" class="h4 text-primary"><strong>@Model.PozisyonEN</strong></h2>
                            </center>
                            <center>

                                <strong> Referans No:</strong> @Model.ReferansNo<br />
                            </center>
                        </div>
                    </div>

                    <div class="row ml-1">
                        <div class="col-lg-12">
                            @Html.Raw(Model.DetayEN)
                        </div>
                       
                    </div>


                </div>
                <div class="col-lg-4">
                    <aside>

                        <div class="jobs">

                            <div class="item">

                                <p class=""><span style="font-weight:700">City: </span> @Model.Sehir</p>
                                <p class=""><span style="font-weight:700">Business Area: </span> @Model.IsAlaniEN</p>
                                <p class=""><span style="font-weight:700">Listing Date: </span>@Model.Tarih.Day.@Model.Tarih.Month.@Model.Tarih.Year</p>

                            </div>

                        </div>

                        <div style="text-align:center;padding:10px;">
                            <a href="/kariyer-firsatlari" style="width:60% !important; color:aliceblue; background-color: #103948; " class="btn btn-sm btn-isarayan">OTHER ADS</a>
                        </div><div style="text-align:center;padding:10px;">
                            <a href="/basvuru/@Model.ReferansNo" style="width:60% !important; color:aliceblue; background-color: #ed7d31; " class="btn btn-sm btn-isarayan">APPLY</a>
                        </div>
                    </aside>
                </div>
            </div>

        </div>
    </section>
}
else
{
    <section class="hero pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 text-white d-none d-lg-block" style="background-image: url(/osen/assets/images/gorsel.jpeg); padding: 90px; background-position-y: -100px; background-position-x: -100px;">

                    <h1 class="mb-2 text-shadow">Kariyer Detay</h1>

                </div>
                <div class="col-md-12 col-lg-12 text-white d-block d-sm-none" style="background-image: url(/osen/assets/images/gorsel-mobil-alt-sayfa.jpeg); padding: 90px;">

                    <h1 class="mb-2 text-shadow">Kariyer Detay</h1>

                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">


                <div class="col-lg-8" style="border: 2px solid #cecece; padding: 10px; border-radius: 20px;">
                    <div class="row mt-1">
                        <div class="col-lg-12">
                            <center>

                                <h2 style="width: 40%; border-bottom: 2px solid #ED7D31; text-align: center;" class="h4 text-primary"><strong>@Model.Pozisyon</strong></h2>
                            </center>
                            <center>

                                <strong> Referans No:</strong> @Model.ReferansNo<br />
                            </center>
                        </div>
                    </div>

                    <div class="row ml-1">
                        <div class="col-lg-12">
                            @Html.Raw(Model.Detay)
                        </div>

                       
                    </div>


                </div>
                <div class="col-lg-4">
                    <aside>

                        <div class="jobs">

                            <div class="item">

                                <p class=""><span style="font-weight:700">Şehir: </span> @Model.Sehir</p>
                                <p class=""><span style="font-weight:700">İş Alanı: </span> @Model.IsAlani</p>
                                <p class=""><span style="font-weight:700">İlan Tarihi: </span>@Model.Tarih.Day.@Model.Tarih.Month.@Model.Tarih.Year</p>

                            </div>

                        </div>

                        <div style="text-align:center;padding:10px;">
                            <a href="/kariyer-firsatlari" style="width:60% !important; color:aliceblue; background-color: #103948; " class="btn btn-sm btn-isarayan">DİĞER İLANLAR</a>
                        </div><div style="text-align:center;padding:10px;">
                            <a href="/basvuru/@Model.ReferansNo" style="width:60% !important; color:aliceblue; background-color: #ed7d31; " class="btn btn-sm btn-isarayan">BAŞVUR</a>
                        </div>
                    </aside>
                </div>
            </div>

        </div>
    </section>
}


