﻿@model IEnumerable<Zemedya.Entity.Concrete.KariyerFirsatlariEntities.KariyerFirsati>
@{
    ViewData["Title"] = "Career Opportunities";
    ViewData["description"] = ViewBag.description;


    ViewData["googledogrulama"] = ViewBag.googleDogrulama;
    ViewData["favicon"] = ViewBag.favicon;
    ViewData["googleanalytics"] = ViewBag.googleanalytics;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}


<section class="hero pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-white d-none d-lg-block" style="background-image: url(/osen/assets/images/gorsel.jpeg); padding: 90px; background-position-y: -100px; background-position-x: -100px;">

                <h1 class="mb-2 text-shadow">Career Opportunities</h1>

            </div>
            <div class="col-md-12 col-lg-12 text-white d-block d-sm-none" style="background-image: url(/osen/assets/images/gorsel-mobil-alt-sayfa.jpeg); padding: 60px;">

                <h1 class="mb-2 text-shadow">Career Opportunities</h1>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-none d-sm-block">
                <table class="highlight responsive-table table-opportunities">
                    <thead>
                        <tr>
                            <th>Reference No</th>
                            <th>Position</th>
                            <th>Business Area</th>
                            <th>City</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="list">
                        @foreach (var item in Model)
                        {
                            <tr onclick="window.location.href='/career-opportunities/@item.SEOEN';">
                                <td>@item.ReferansNo</td>
                                <td>@item.PozisyonEN</td>
                                <td>@item.IsAlaniEN</td>
                                <td>@item.Sehir</td>
                                <td>@item.Tarih.Day.@item.Tarih.Month.@item.Tarih.Year</td>
                                <td><button style="width:60% !important; color:aliceblue;" class="btn btn-sm btn-ilan">Detail</button></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>





        </div>
       
        <div class="row d-block d-sm-none">
            @foreach (var item in Model)
            {
                <div class="col-12">
                    <div class="card">
                        <div class="item">
                            <p class="title">@item.PozisyonEN</p>
                            <p>@item.Sehir - @item.IsAlaniEN</p>
                            <p><a href="/career-opportunities/@item.SEOEN" class="btn btn-sm btn-ilan">Detail</a></p>
                        </div>
                    </div>
                </div>
            }
            </div>
        
        <div class="row">
            <h4 class="ml-1"><u><b>Reach Your Goal Job</b></u></h4>
        </div>
        <div class="row col-md-3">
            <a href="/kariyer-basvuru" style="width:100% !important; color:aliceblue; background-color: #103948; " class="btn btn-sm btn-isarayan">SEND CV</a>
        </div>
    </div>
</section>

