﻿@model Zemedya.Model.DTO.KurumsalDTOs.KurumsalDTO
@{
    @if (ViewBag.en == "True")
    {
        ViewData["Title"] = Model.IsimEN;
        ViewData["description"] = ViewBag.descriptionEN;
    }
    else
    {
        ViewData["Title"] = Model.Isim;
        ViewData["description"] = ViewBag.description;
    }



    ViewData["googledogrulama"] = ViewBag.googleDogrulama;
    ViewData["favicon"] = ViewBag.favicon;
    ViewData["googleanalytics"] = ViewBag.googleanalytics;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}
@if (ViewBag.en == "True")
{
    @*<section class="hero pb-5">
            <span class="image image-overlay" style="background-image: url(assets/images/header/header.jpg)"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 text-white">
                        <span class="eyebrow decorated mb-1">OSEN KARİYER</span>
                        <h1 class="mb-2 text-shadow">ABOUT US</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/en">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">@Model.IsimEN</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>*@
    <section class="hero pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 text-white d-none d-lg-block" style="background-image: url(/osen/assets/images/gorsel.jpeg); padding: 90px; background-position-y: -100px; background-position-x: -100px;">

                    <h1 class="mb-2 text-shadow">About Us</h1>

                </div>
                <div class="col-md-12 col-lg-12 text-white d-block d-sm-none" style="background-image: url(/osen/assets/images/gorsel-mobil-alt-sayfa.jpeg); padding: 60px;">

                    <h1 class="mb-2 text-shadow">About Us</h1>

                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mr-auto">
                    @Html.Raw(Model.DetayEN)

                </div>
                <!--<div class="col-lg-6">
                    <img src="assets/images/about-us.jpg" class="w-100 shadow">
                </div>-->
            </div>

        </div>
    </section>
}
else
{
    @*<section class="hero pb-5">
        <span class="image image-overlay" style="background-image: url(assets/images/header/header.jpg)"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 text-white">
                    <span class="eyebrow decorated mb-1">OSEN KARİYER</span>
                    <h1 class="mb-2 text-shadow">Hakkımızda</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                            <li class="breadcrumb-item"><a href="#">@Model.Isim</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>*@
    <section class="hero pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 text-white d-none d-lg-block" style="background-image: url(/osen/assets/images/gorsel.jpeg); padding: 90px; background-position-y: -100px; background-position-x: -100px;">

                    <h1 class="mb-2 text-shadow">Hakkımızda</h1>

                </div>
                <div class="col-md-12 col-lg-12 text-white d-block d-sm-none" style="background-image: url(/osen/assets/images/gorsel-mobil-alt-sayfa.jpeg); padding: 60px;">

                    <h1 class="mb-2 text-shadow">Hakkımızda</h1>

                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mr-auto">
                    @Html.Raw(Model.Detay)

                </div>
               
            </div>

        </div>
    </section>
}


