﻿@model Zemedya.Model.VM.Page.AnasayfaVM
@{
    ViewData["Title"] = Model.Title;
    ViewData["googledogrulama"] = Model.GoogleDogrulama;
    ViewData["favicon"] = Model.Favicon;
    ViewData["googleanalytics"] = Model.GoogleAnalytics;
    ViewData["description"] = ViewBag.description;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}



<section class="d-none d-lg-block">
    <div class="container">
        <div class="row al justify-content-center align-items-center anagorsel" style=" background-image: url(/osen/assets/images/gorsel.jpeg);">
            <div class="col-lg-12 text-white pt-10" style="text-align:right;">
                <a href="/isveren-basvuru" class="btn btn-md btn-isveren">İŞ VERENLER</a>
                <br /><br />
                <a href="/isarayan-basvuru" class="btn btn-md btn-isarayan">İŞ ARAYANLAR</a>
            </div>
        </div>
    </div>
</section>
<section class="d-block d-sm-none" style="padding-bottom: 25px;">
    <div class="container">
        <div class="row al justify-content-center align-items-center anagorsel" style=" background-image: url(/osen/assets/images/gorsel-mobil.jpeg);">
            <div class="col-lg-12 text-white pt-10" style="text-align:right;">
                <a href="/isveren-basvuru" class="btn btn-md btn-isveren">İŞ VERENLER</a>
                <br /><br />
                <a href="/isarayan-basvuru" class="btn btn-md btn-isarayan">İŞ ARAYANLAR</a>
            </div>
        </div>
    </div>
</section>
<div class="hizmetler">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.DuyuruListesi)
            {  
            <div class="col-md-4 mb-1">
                <a style="width:100% !important; color:aliceblue; background-color: #103948; " class="btn btn-md btn-isarayan" href="/hizmetlerimiz/@item.SEO"> @item.Isim </a>
            </div>
            }










        </div>

    </div>
</div>

<div>
    <div class="container">

        <div class="owl-carousel" data-items="[3,3,2,1]" data-margin="20" data-loop="true" data-nav="true" data-autoplay="true">
            @foreach (var item in Model.KariyerFirsatiListesi)
            {
                @if (item != null)
                {
                    <div class="card">
                        <div class="item">
                            <p class="title">@item.Pozisyon</p>
                            <p>@item.Sehir - @item.IsAlani</p>
                            <p><a href="/kariyer-firsatlari/@item.SEO" class="btn btn-sm btn-ilan">İncele</a></p>
                        </div>
                    </div>
                }
            }


           

        </div>
    </div>
</div>




<section class="pt-5">
    <div class="container">
        <div class="row" style="height:390px 350px !important;">
            <div class="col">
                <h2 class="section-title">
                    Blog
                </h2>
            </div>
        </div>


        <div class="row masonry gutter-1" >
            @foreach (var item in Model.EtkinlikListesi)
            {
                if (item != null)
                {
                    <div class="col-md-3">
                        <div class="blog-card">
                            <div class="blog-card_img">
                                <a href="/blog/@item.SEO" class="card card-equal equal-50 equal-md-100 card-scale vitrin-gorsel" style="border-radius: 10px;">
                                    <span class="image image-overlay" style="background-image: url(/img/@item.Gorsel)"></span>
                                    <div class="card-body text-center text-white">
                                        <h3>@item.Isim</h3>
                                    </div>

                                </a>
                            </div>
                            <div class="blog-card_body py-2">

                                <p style="font-size: 0.9rem;">@item.Ozet</p>
                            </div>
                            <div class="blog-card_footer"><a href="/blog/@item.SEO">Devamını Oku →</a></div>
                        </div>
                    </div>
                }
            }



            

        </div>
    </div>


</section>
