﻿@model Zemedya.Model.VM.Page.FooterVM








<footer class="py-0">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <hr>
                <a href="/" class="mb-3 d-block"><img src="/osen/assets/images/osen-kariyer-footer.png" style="height:50px;"></a>
            </div>
        </div>
        <div class="row">
            @*<div class="col-md-6 footer-adres">
            <p><i class="icon-map-pin"></i> <small style="color: #999;">@Model.Iletisim.Adres</small></p>

        </div>
        <div class="col-md-2 footer-adres">
            <p><i class="icon-mail"></i> <small style="color: #999;"><a href="mailto:info@osenkariyer.com" style="color: #999;">@Model.Iletisim.Email</a></small></p>
        </div>
        <div class="col-md-2 footer-adres">

            <p><i class="icon-phone"></i> <small style="color: #999;">@Model.Iletisim.Telefon</small></p>
            @if (Model.Iletisim.Telefon2 != null)
            {
                <p><i class="icon-phone"></i> <small style="color: #999;">@Model.Iletisim.Telefon2</small></p>
            }

        </div>
        <div class="col-md-2 footer-adres">
            <nav class="nav nav-icons footer-social">
                @if (Model.Ayarlar.Linkedin != null)
                {
                    <a class="nav-link" href="@Model.Ayarlar.Linkedin"><img src="/osen/assets/images/linkedin.png" style="height:25px;"></a>
                }
                @if (Model.Ayarlar.Instagram != null)
                {
                    <a class="nav-link" href="@Model.Ayarlar.Instagram"><img src="/osen/assets/images/instagram.png" style="height:25px;"></a>
                }

            </nav>
        </div>*@


            <div class="col-md-2 footer-adres">

            </div>
            <div class="col-md-2 footer-adres">
                <p><i class="icon-mail"></i> <small style="color: #999;"><a href="mailto:info@osenkariyer.com" style="color: #999;">@Model.Iletisim.Email</a></small></p>
            </div>
            <div class="col-md-2 footer-adres">
                <p><i class="icon-phone"></i> <small style="color: #999;">@Model.Iletisim.Telefon</small></p>
            </div>
            @if (Model.Iletisim.Telefon2 != null)
                    {
            <div class="col-md-2 footer-adres">

                <p><i class="icon-phone"></i> <small style="color: #999;">@Model.Iletisim.Telefon2</small></p>
            </div>

                    }


            <div class="col-md-2 footer-adres">
                <nav class="nav nav-icons footer-social">
                    @if (Model.Ayarlar.Linkedin != null)
                    {
                    <a class="nav-link" href="@Model.Ayarlar.Linkedin"><img src="/osen/assets/images/linkedin.png" style="height:25px;"></a>
                    }
                    @if (Model.Ayarlar.Instagram != null)
                    {
                    <a class="nav-link" href="@Model.Ayarlar.Instagram"><img src="/osen/assets/images/instagram.png" style="height:25px;"></a>
                    }

                </nav>
            </div>
            <div class="col-md-2 footer-adres">

            </div>
        </div>

        <div class="row my-3">
            <div class="col-lg-1 text-center">
                <img src="/osen/assets/images/iskur-ozel-istihdam-burosu.png" />
            </div>

            <div class="col-lg-11" style="color: #999;">
                <small>
                    Osen Kariyer Danışmanlık, Türkiye İş Kurumunun 12.04.2021 tarih ve 1240 numaralı izin belgesi ile faaliyet göstermektedir. Türkiye İş Kurumu tarafından 12.04.2021 tarih ve 8348325 sayılı karar uyarınca bu belge verilmiştir. 4904 sayılı Türkiye İş Kurumu Kanunu gereğince iş arayanlardan ücret alınmayacak ve menfaat temin edilmeyecektir. Şikayetleriniz için, Türkiye İş Kurumu İl Müdürlüğüne başvurabilirsiniz.İşkur tel: 0(224) 255 15 15 Adres: Bursa Çalışma ve İş Kurumu Müdürlüğü Üçevler Mh. Esra Sk. No: 1 Nilüfer / BURSA

                </small>
                <br />
            </div>
        </div>


    </div>


    <div class="py-0">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 py-2">
                    <small style="color: #999;">2021 &copy; Osen Kariyer & Danışmanlık</small>
                </div>

                @*<div class="col-lg-6 py-2" style="font-size: 12px; text-align: right;">
                    <a href="https://www.zemedya.com" title="Bursa Kurumsal Web Tasarım" style="color: #999;">Web Tasarım</a> <a href="https://www.zemedya.com" title="Bursa Web Tasarım Ajansı" style="color: #999;">Zemedya</a>
                </div>*@
            </div>

        </div>
    </div>









</footer>
